<div class="infoMainDiv">
    <div class="noticeMainLine">
       <div class="noticeImg">
           <img src="../img/infoCenter/bool.png">
           <span>公司公告</span>
           <div class="search">
               <input type="text" placeholder="请输入关键词">
               <img src="../img/infoCenter/search.png">
           </div>
       </div>
    </div>
    <div class="info">
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>关于旗下部分基金增加国泰君安证券有限公司为销售机构及开通定投，转换业务并参与其费率优惠活动的公告</span>
            <span>2016-07-19</span>
        </div>
    </div>
    <div class="jingzhiPageChange">
        <span>首页</span>
        <span class="padd15"> < </span>
        <span class="padd15">上一页</span>
        <span style="color: #e92635">1</span><span> / 25 </span>
        <span class="padd15">下一页</span>
        <span class="padd15"> > </span>
        <span>尾页</span>
    </div>
</div>