.fund-menu>dl>dt{
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    position: relative;
    height: 54px;
}
.fund-menu>dl>dt>img{
    position: absolute;
    top: 0;
    right: 7px;
    margin-top: 18px;
}
.parent-nav>li:nth-child(2)>a{
    padding-left: 1%;
}
.redSquare{
    position: absolute;
    left: 0;
    height: 24px;
    top:13px;
    width: 3px;
    background-color: #e92635;
    display: none;
}
.fundTitiePro{
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    height: 35px;
    width: 100%;
}
.fundTitiePro>div:nth-child(1){
    color: #e92635;
    padding-top: 10px;
    float: left;
    width: auto;
    border-bottom: 1px solid #e92635;
    height: 35px;
}
.fundTitiePro>div:nth-child(2){
    color: #aaa;
    padding-top: 12px;
    margin-left: 3%;
    float: left;
    font-size: 12px;
}
.paddFundList{
    width: 94%;
    margin-left: 3%;
}
.fund-list-left>a>span:nth-child(2){
    float: right;
    padding-right: 2%;
}
.fund-list-right>a>span:nth-child(1){
    padding-right: 1%;
}
.fund-list-right>a>span:nth-child(2){
    float: right;
}
.fixWidth{
    width: 19%;
}
.currencyType{
    border-top: none;
}
/*以上为新增*/
ul li{
    list-style-type: none;
    margin-bottom: 0;
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "PingFang SC", "微软雅黑", "Helvetica Neue", Helvetica, STHeiti, Arial, sans-serif;
    line-height: 1.42857143;
    color: #444;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
}
.main{
    min-width:1200px;
    width:70%;
    margin:auto;
    text-align: left;
}
.page-top{
   position: relative;
    background: #F9F9F9;
    font-size:12px;
    height: 44px;
}
.page-top a{
    color: #4e4e4e;
    padding: 0 10px;
    border-right: 1px solid #e0e0e0;
    text-decoration: none;
}
.page-top ul li:first-child a{
    border-left: 1px solid #e0e0e0;
}
.page-top ul{
    left: 50%;
    margin-left: 110px;
    position: absolute;
    margin-bottom: 0;
}
.page-top ul li{
    float: left;
     padding: 10px 0;
    line-height: 24px;
    cursor: pointer;
}
.page-top ul  .qtr:hover{
    background: #fff;
    width:71px;
    height:44px;
    border-left: 1px solid #ccc;
}
.page-top ul  .qtr:hover a{
    position: absolute;
    top:0;
   height: 44px;
  border: 0;
  line-height: 44px;
  background: #fff;
  padding-bottom: 10px;
    border-right: 1px solid #ccc;
  z-index: 100009;
}
.page-top ul  .qtr:hover .qtr-wrape{
      position: absolute;
      right: 2px;
      display: block;
      top:43px;
    z-index: 999;
    padding: 10px 13px 0 13px;
    background: #fff;
    border: 1px solid #ccc;
    margin-right: -4px;
}
.page-top .qtr-wrape{
    display: none;
}
.page-top ul  .qtr .qtr-wrape img{
    width: 73px;
}
.page-top ul  .qtr .qtr-wrape div{
    text-align: center;
    display: inline-block;
}
.page-top ul li:last-child{
    line-height: 12px;
    font-size: 12px;
    margin-left:15px;
}
.page-top span.phone{
    color: #ff6602;
}
.page-nav{
    text-align: center;
}
.page-nav .parent-nav > li{
    width: 11%;
    float: left;
    cursor: pointer;
    margin-left: 5px;
    font-weight: 800;
    padding: 3px;
    border: 1px solid #fff;
}
.page-nav .parent-nav > li.triangle-bottom{
    position: relative;
}
.page-nav .parent-nav > li:hover .hover-red{
    color: #e92635;
}
.page-nav .parent-nav > li.triangle-bottom:hover:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
    z-index: 999999;
    left: 0;
}
.page-nav .parent-nav > li.small-nav:hover:before{
    background: #fff;
}
.page-nav .parent-nav > li.triangle-bottom:hover {
    border: 1px solid #e3e3e3;
    background: #fff;
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.page-nav .parent-nav > li.small-nav:hover{
    background: #fff;
}
.page-nav .parent-nav > li:hover .sub-nav{
    display: block;
}
.page-nav .parent-nav > li.triangle-bottom:after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: -3px;
    vertical-align: middle;
    color: #ccc;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.page-nav .sub-nav{
    position: absolute;
    z-index: 9999;
    background: #fff;
    width: 700px;
    top: 26px;
    left: -1px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: none;
}
.page-nav .sub-nav a{
    color: #444;
}
.page-nav  .small-sub-nav{
    width: 101%;
    border-top: none;
}
.page-nav .sub-nav dl{
    margin-bottom: 0;
    float: left;
    background: #fff;
    border-right: none;
}
.page-nav  .small-sub-nav dl{
    float: none;
    border: none;
    background: none;

}
.page-nav  .small-sub-nav dt{
    font-weight: 500;
    text-align: center;
    padding:10px 0;
}
.page-nav .sub-nav dt a{
    display: block;
    line-height: 49px;
    font-weight: bold;
    margin: 0 10px;
    width: 96px;
    text-align: center;
}
.page-nav .sub-nav dt.on,.page-nav .small-sub-nav dt:hover{
    border-right: none;
    color: #e92635;
}
.page-nav .parent-nav > li .sub-nav dt.on a,.page-nav .small-sub-nav dt:hover a,.parent-nav .parent-nav > li.on .sub-nav dt.on a {
    color: #e92635;
}
.page-nav .sub-nav dt.on + dt a{
    border-top: 1px solid #FBFBFB;
}
.page-nav .sub-nav  .fund-list{
    float: left;
    font-weight: 500;
    display: none;
}
.page-nav .sub-nav  .fund-list.on{
    display: block;
    width: 79%;
    background-color: #fff;
}
.page-nav .sub-nav  .fund-list a{
    display: block;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 13px;
}
.page-nav .sub-nav  .fund-list a:hover{
    color: #e92635;
}
.page-nav .sub-nav  .fund-list-left{
    border-right: 1px solid #e3e3e3;
    margin-top: 7px;
    float: left;
    display: inline-block;
    width: 50%;
    height: 200px;
    padding: 10px 10px;
    vertical-align: middle;
}
.fund-list-left a:hover span,.fund-list-right a:hover span{
    border-bottom: 1px solid #e92635;
}
.page-nav .sub-nav  .fund-list-right{
    width: 49%;
    margin-top: 7px;
    float: left;
    padding: 10px 10px;
    display: inline-block;
    height: 200px;
    vertical-align: middle;
}
.page-nav .sub-nav dt:first-child a{
    border: none;
}
.page-nav .parent-nav > li a{
    color: #4e4e4e;
    text-decoration: none;
    font-size:16px;
}
.page-nav .parent-nav > li.on a{
    color: #e92635;
}
.page-nav .parent-nav > li .sub-nav a {
    color: #444;
}
.page-bottom{
    padding: 10px 80px;
    background: #4e4e4e;
    color:#DAD3D3;
    font-size:12px;
}
.page-bottom .tab-li{
    margin: 0 86px;
}
.page-bottom .tab-li li{
    float: left;
    width: 19.5%;
    text-align: center;
    cursor: pointer;
    border-right:1px solid #DAD3D3;
}
.page-bottom .tab-li li:first-child{
    border-left:1px solid #DAD3D3;
}
.page-bottom .tips{
    padding-left: 36px;
    margin-top: 30px;
}
.top-bottom{
    margin-bottom: 30px;
    margin-top: 30px;
}