.m-xxs{margin: 2px 4px}
.m-xs{margin: 5px;}
.m-sm{margin: 10px;}
.m{margin: 15px;}
.m-md{margin: 20px;}
.m-lg{margin: 30px;}
.m-xl{margin: 50px;}
.m-n{margin: 0 !important}

.m-l-none{margin-left: 0 !important}
.m-l-xs{margin-left: 5px;}
.m-l-sm{margin-left: 10px;}
.m-l{margin-left: 15px}
.m-l-md{margin-left: 20px;}
.m-l-lg{margin-left: 30px;}
.m-l-xl{margin-left: 40px;}
.m-l-xxl{margin-left: 50px;}
.m-l-xxl-60{
    margin-left: 60px;
}
.m-l-xxxl{margin-left: 80px;}
.m-l-n-xxs{margin-left: -1px}
.m-l-n-xs{margin-left: -5px}
.m-l-n-sm{margin-left: -10px}
.m-l-n{margin-left: -15px}
.m-l-n-md{margin-left: -20px}
.m-l-n-lg{margin-left: -30px}
.m-l-n-xl{margin-left: -40px}
.m-l-n-xxl{margin-left: -50px}

.m-t-none{margin-top:0 !important}
.m-t-xxs{margin-top: 1px;}
.m-t-xs{margin-top: 5px;}
.m-t-sm{margin-top: 10px;}
.m-t{margin-top: 15px}
.m-t-md{margin-top: 20px;}
.m-t-lg{margin-top: 30px;}
.m-t-xl{margin-top: 40px;}
.m-t-xxl{margin-top: 50px;}

.m-t-n-xxs{margin-top: -1px}
.m-t-n-xs{margin-top: -5px}
.m-t-n-sm{margin-top: -10px}
.m-t-n{margin-top: -15px}
.m-t-n-md{margin-top: -20px}
.m-t-n-lg{margin-top: -30px}
.m-t-n-xl{margin-top: -40px}
.m-t-n-xxl{margin-top: -50px}

.m-r-none{margin-right: 0 !important}
.m-r-xxs{margin-right: 1px}
.m-r-xs{margin-right: 5px}
.m-r-sm{margin-right: 10px}
.m-r{margin-right: 15px}
.m-r-md{margin-right: 20px}
.m-r-lg{margin-right: 30px}
.m-r-xl{margin-right: 40px}
.m-r-xxl{margin-right: 50px}
.m-r-xxxl{margin-right: 80px}
.m-r-n-xxs{margin-right: -1px}
.m-r-n-xs{margin-right: -5px}
.m-r-n-sm{margin-right: -10px}
.m-r-n{margin-right: -15px}
.m-r-n-md{margin-right: -20px}
.m-r-n-lg{margin-right: -30px}
.m-r-n-xl{margin-right: -40px}
.m-r-n-xxl{margin-right: -50px}

.m-b-none{margin-bottom: 0 !important}
.m-b-xxs{margin-bottom: 1px;}
.m-b-xs{margin-bottom: 5px;}
.m-b-sm{margin-bottom: 10px;}
.m-b{margin-bottom: 15px;}
.m-b-md{margin-bottom: 20px;}
.m-b-lg{margin-bottom: 30px;}
.m-b-xl{margin-bottom: 40px;}
.m-b-xxl{margin-bottom: 50px;}

.m-b-n-xxs{margin-bottom: -1px}
.m-b-n-xs{margin-bottom: -5px}
.m-b-n-sm{margin-bottom: -10px}
.m-b-n{margin-bottom: -15px}
.m-b-n-md{margin-bottom: -20px}
.m-b-n-lg{margin-bottom: -30px}
.m-b-n-xl{margin-bottom: -40px}
.m-b-n-xxl{margin-bottom: -50px}
.text-3x{font-size: 3em;}
.text-2x{font-size: 2em;}
.text-lg{font-size: 20px;}
.text-md{font-size: 16px;}
.text-base{font-size: 12px;}
.text-sm{font-size: 14px;}
.text-xs{font-size: 13px;}
.red-color{
    color: #e92635;
}
.r-color{
    color: #ff2c3c;
}
.black-color{
    color: #000;
}
.deep-gray{
    color: #444;
}
.gray-color{
    color: #B1AFAF;
}
.white-color{
    color: #fff;
}
.wrapper-xs{padding: 5px;}
.wrapper-sm{padding: 10px;}
.wrapper{padding: 15px;}
.wrapper-md{padding: 20px;}
.wrapper-lg{padding: 30px;}
.wrapper-xl{padding: 50px;}
.padder-lg{padding-left:30px;padding-right: 30px}
.padder-md{padding-left:20px;padding-right: 20px}
.padder{padding-left:15px;padding-right: 15px}
.padder-v{padding-top:15px;padding-bottom: 15px}
.no-padder{padding: 0 !important;}
.padder-n-r{
    padding-right: 0 !important;
}
.padder-n-l{
    padding-left: 0 !important;
}
.pull-in{margin-left: -15px;margin-right: -15px;}
.pull-out{margin:-10px -15px;}
.font-sm{
    font-size: 12px;
}
.font-md{
    font-size: 18px;
}
.font-16{
    font-size: 16px;
}
.font-bg{
    font-size:24px;
}
.font-lg{
    font-size: 35px;
}
.p-t{
    padding-top: 10px;
}
.p-b{
    padding-bottom: 10px;
}
.p-l{
    padding-left: 10px;
}
.p-l-n{
    padding-left: 0 !important;
}
.p-r{
    padding-right: 10px;
}
.p-t-md{
    padding-top: 20px;
}
.p-t-mmd{
    padding-top: 15px;
}
.p-l-md{
    padding-left: 20px;
}
.p-t-lg{
    padding-top: 30px;
}
.p-l-lg{
    padding-left: 30px;
}
.b-b-n{
    border-bottom: none;
}
.b-l-n{
    border-left: none;
}
.b-l{
    border-left: 1px solid #ececec;;
}
.b-b{
    border-bottom: 1px solid #ececec;
}
.b-r{
    border-right: 1px solid #ececec;;
}
.b-t{
    border-top: 1px solid #ececec;
}

.bg-white{
    background: #fff;
}
/*line-height*/
.l-h-m{
    line-height: 35px;
}
.ver-top{
    vertical-align:top;
}
.ver-middle{
    vertical-align:middle;
}
.ver-bottom{
    vertical-align:bottom;
}