<div class="page-bottom">
    <ul class="tab-li">
        <li>风险提示函</li>
        <li>常用法律法规</li>
        <li>反洗钱专栏</li>
        <li>投资人权益须知</li>
        <li>联系我们</li>
    </ul>
    <ul class="tips">
        <li class="">©2014中融基金管理有限公司 版权所有 京ICP备13029373号-1</li>
        <li>本网站所有资讯与说明仅供参考，如有与本公司相关公告及基金法律文件不符，以相关公告及基金法律文件为准。市场有风险，投资需谨慎。</li>
        <li class="m-t-sm">
            <a src=""><img src="../img/bottomlogo.png"/></a>
        </li>
    </ul>
</div>