<div class="channelMain jingzhiMain productMainDiv">
    <table>
        <tbody>
        <tr>
            <td>销售机构</td>
            <td>可办理业务</td>
            <td>可联系电话</td>
            <td>备注</td>
        </tr>
        <tr>
            <td>中融基金管理有限公司</td>
            <td>定投</td>
            <td>400-160-6000</td>
            <td>定投起点金额为100元</td>
        </tr>
        <tr>
            <td>北京恒天明泽基金销售有限公司</td>
            <td>定投</td>
            <td>010-57756006</td>
            <td>定投起点金额为100元</td>
        </tr>
        <tr>
            <td>北京唐鼎耀华投资咨询有限公司</td>
            <td>定投</td>
            <td>400-819-9868</td>
            <td>定投起点金额为100元</td>
        </tr>
        <tr>
            <td>北京植信基金销售有限公司</td>
            <td>定投</td>
            <td>010-65166278</td>
            <td>定投起点金额为100元</td>
        </tr>
        <tr>
            <td>北京晟视天下投资管理有限公司</td>
            <td>定投</td>
            <td>400-818-8866</td>
            <td>定投起点金额为100元</td>
        </tr>
        <tr>
            <td>东北证券股份有限公司</td>
            <td>定投</td>
            <td>95360</td>
            <td>--</td>
        </tr>
        </tbody>
    </table>

    <div class="manageMainDiv">
        <div class="managePoint">
            <div>直销</div>
        </div>
        <div class="manageintro" style="margin-bottom: 25px">中融基金网上交易系统支持工行、中行、交行、农行、建行、招行、兴业、浦发、中信、民生、平安、广发等多家银行卡及天天盈、支付宝等支付渠道，您只要有其中任何一张(借记)卡，即可网上开户。
        </div>
        <div style="border: 1px solid #e3e3e3">
            <div class="investTitle" style="background-color: #f9f9f9">
                <span style="border: none">网上交易优惠费率表</span>
            </div>
            <table class="tableRule tableChannel">
                    <tbody>
                    <tr>
                        <td>银行卡</td>
                        <td>天天盈</td>
                        <td>兴业卡</td>
                        <td>通联(中行)</td>
                        <td>农行卡</td>
                        <td>建行卡</td>
                        <td>工行卡</td>
                        <td>招行卡</td>
                        <td>民生卡</td>
                    </tr>
                    <tr>
                        <td>申购费率</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                    </tr>
                    <tr>
                        <td>定投费率</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                    </tr>
                    <tr>
                        <td>转换费率</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                    </tr>
                    <tr>
                        <td>赎回转申购</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                        <td>4折</td>
                    </tr>
                    </tbody>
                </table>

        </div>
        <div class="openTrade">
            <span>费率明细</span>
            <span>立即开通网上交易 >> </span>
            <span><br>另外 您也可以通过以下中融基金直销柜台进行基金认申购、转换、赎回等操作：</span>
        </div>
        <div class="tableBorder">
            <table class="tableRule">
                <tbody>
                <tr>
                    <td>理财中心</td>
                    <td>地址</td>
                    <td>电话</td>
                    <td>传真</td>
                </tr>
                <tr>
                    <td style="width: 11%">北京</td>
                    <td>北京市东城区建国门内大街28号民生金融中心A座7层</td>
                    <td>(86 10) 8500 3388</td>
                    <td>(86 10) 8500 3386</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="managePoint">
            <div>代销</div>
        </div>
        <table class="dxTable">
            <tbody>
            <tr>
                <td>国都证券</td>
                <td>中金公司</td>
                <td>大成直销</td>
                <td>国泰君安</td>
                <td>大成直销</td>
                <td>国泰君安</td>
            </tr>
            <tr>
                <td>国都证券</td>
                <td>中金公司</td>
                <td>大成直销</td>
                <td>国泰君安</td>
                <td>大成直销</td>
                <td>国泰君安</td>
            </tr>
            <tr>
                <td>国都证券</td>
                <td>中金公司</td>
                <td>大成直销</td>
                <td>国泰君安</td>
                <td>大成直销</td>
                <td>国泰君安</td>
            </tr>
            <tr>
                <td>国都证券</td>
                <td>中金公司</td>
                <td>大成直销</td>
                <td>国泰君安</td>
                <td>大成直销</td>
                <td>国泰君安</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>