<div class="investMain productMainDiv">
    <div class="investTitle">
        <span id="page1" text="page-1" class="or" style="font-weight: 400">基金资产情况</span>
        <span id="page2" text="page-2" class="or">投资组合情况</span>
        <span id="page3" text="page-3" class="or">前十名债券投资明细</span>
    </div>
    <section class="investSection" id="page-1">
    <table class="tableRule tableInvest tableDashed" style="margin-top: 23px">
        <tbody>
        <tr>
            <td style="width: 8%;">序号</td>
            <td>项目</td>
            <td>金额 ( 元 )</td>
            <td>占基金总资产的比例 ( % )</td>
        </tr>
        <tr>
            <td style="width: 10%;">1</td>
            <td>固定收益投资</td>
            <td>12345678978</td>
            <td>50.35</td>
        </tr>
        <tr>
            <td style="width: 10%;"></td>
            <td>其中：债券</td>
            <td>12345678978</td>
            <td>50.35</td>
        </tr>
        <tr>
            <td style="width: 10%;"></td>
            <td>资产支持证券</td>
            <td>12345678978</td>
            <td>50.35</td>
        </tr>
        <tr>
            <td style="width: 10%;">2</td>
            <td>买入返售金融资产</td>
            <td>12345678978</td>
            <td>50.35</td>
        </tr>
        <tr>
            <td style="width: 10%;"></td>
            <td>其中：买断式回购的买入返售金融资产</td>
            <td>12345678978</td>
            <td>50.35</td>
        </tr>
        <tr>
            <td style="width: 10%;">3</td>
            <td>银行存款和结算备付金合计</td>
            <td>12345678978</td>
            <td>50.35</td>
        </tr>
        <tr>
            <td style="width: 10%;">4</td>
            <td>其他资产</td>
            <td>12345678978</td>
            <td>50.35</td>
        </tr>
        <tr>
            <td style="width: 10%;">5</td>
            <td>合计</td>
            <td>12345678978</td>
            <td>50.35</td>
        </tr>
        </tbody>
    </table>
    </section>
    <section class="investSection" id="page-2">
        <table class="tableRule tableInvest tableDashed" style="margin-top: 23px;">
            <tbody>
            <tr>
                <td style="width: 8%;">序号</td>
                <td>债券品种</td>
                <td>摊余成本</td>
                <td>占基金资产净值比例(%)</td>
            </tr>
            <tr>
                <td>1</td>
                <td>国家债券</td>
                <td>12345678978</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>2</td>
                <td>央行票据</td>
                <td>12345678978</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>3</td>
                <td>金融债券</td>
                <td>12345678978</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td></td>
                <td>其中：政策性金融债</td>
                <td>12345678978</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>4</td>
                <td>企业债券</td>
                <td>12345678978</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>5</td>
                <td>企业短期融资券</td>
                <td>12345678978</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>6</td>
                <td>中期票据</td>
                <td>12345678978</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>7</td>
                <td>同业存单</td>
                <td>12345678978</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>8</td>
                <td>其他</td>
                <td>12345678978</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>9</td>
                <td>合计</td>
                <td>12345678978</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>10</td>
                <td>生育存续超过397天的浮动利率票券</td>
                <td>12345678978</td>
                <td>50.35</td>
            </tr>
            </tbody>
        </table>
    </section>
    <section class="investSection" id="page-3">
        <table class="tableRule_invest tableDashed">
            <tbody>
            <tr>
                <td>序号</td>
                <td>债券代码</td>
                <td>债券名称</td>
                <td>债券数量(张)</td>
                <td>摊余成本(元)</td>
                <td>占基金资产净值比例(%)</td>
            </tr>
            <tr>
                <td>1</td>
                <td>固定收益投资</td>
                <td>12345678978</td>
                <td>50.35</td>
                <td>50.35</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>2</td>
                <td>固定收益投资</td>
                <td>12345678978</td>
                <td>50.35</td>
                <td>50.35</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>3</td>
                <td>固定收益投资</td>
                <td>12345678978</td>
                <td>50.35</td>
                <td>50.35</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>4</td>
                <td>固定收益投资</td>
                <td>12345678978</td>
                <td>50.35</td>
                <td>50.35</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>5</td>
                <td>固定收益投资</td>
                <td>12345678978</td>
                <td>50.35</td>
                <td>50.35</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>6</td>
                <td>固定收益投资</td>
                <td>12345678978</td>
                <td>50.35</td>
                <td>50.35</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>7</td>
                <td>固定收益投资</td>
                <td>12345678978</td>
                <td>50.35</td>
                <td>50.35</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>8</td>
                <td>固定收益投资</td>
                <td>12345678978</td>
                <td>50.35</td>
                <td>50.35</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>9</td>
                <td>固定收益投资</td>
                <td>12345678978</td>
                <td>50.35</td>
                <td>50.35</td>
                <td>50.35</td>
            </tr>
            <tr>
                <td>10</td>
                <td>固定收益投资</td>
                <td>12345678978</td>
                <td>50.35</td>
                <td>50.35</td>
                <td>50.35</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
<script>
    $('.or').on('click',function(){
        $('.or').removeClass('mana')
        $(this).addClass('mana')
        $("section").hide()
        $("#"+$(this).attr("text")).show()
    });
    $("#page1").click()
</script>