<div class="productMainDiv jingzhiMain">
    <table>
        <tbody>
        <tr>
            <td>基金代码</td>
            <td>基金名称</td>
            <td>净值日期</td>
            <td>万份收益</td>
            <td>七日年化收益率</td>
            <td>净值增长率</td>
        </tr>
        <tr>
            <td>511930</td>
            <td>中荣日盈</td>
            <td>2011-11-11</td>
            <td>0.9999</td>
            <td>1.655%</td>
            <td><img src="../img/icon_die.png"> 0.39%</td>
        </tr>
        <tr>
            <td>511930</td>
            <td>中荣日盈</td>
            <td>2011-11-11</td>
            <td>0.9999</td>
            <td>1.656%</td>
            <td><img src="../img/zhang.png"> 0.39%</td>
        </tr>
        <tr>
            <td>511930</td>
            <td>中荣日盈</td>
            <td>2011-11-11</td>
            <td>0.9999</td>
            <td>1.655%</td>
            <td><img src="../img/icon_die.png"> 0.39%</td>
        </tr>
        <tr>
            <td>511930</td>
            <td>中荣日盈</td>
            <td>2011-11-11</td>
            <td>0.9999</td>
            <td>1.665%</td>
            <td><img src="../img/zhang.png"> 0.39%</td>
        </tr>
        <tr>
            <td>511930</td>
            <td>中荣日盈</td>
            <td>2011-11-11</td>
            <td>0.9999</td>
            <td>1.665%</td>
            <td><img src="../img/zhang.png"> 0.39%</td>
        </tr>
        <tr>
            <td>511930</td>
            <td>中荣日盈</td>
            <td>2011-11-11</td>
            <td>0.9999</td>
            <td>1.565%</td>
            <td><img src="../img/icon_die.png"> 0.39%</td>
        </tr>
        <tr>
            <td>511930</td>
            <td>中荣日盈</td>
            <td>2011-11-11</td>
            <td>0.9999</td>
            <td>1.665%</td>
            <td><img src="../img/zhang.png"> 0.39%</td>
        </tr>
        <tr>
            <td>511930</td>
            <td>中荣日盈</td>
            <td>2011-11-11</td>
            <td>0.9999</td>
            <td>1.665%</td>
            <td><img src="../img/zhang.png"> 0.39%</td>
        </tr>
        <tr>
            <td>511930</td>
            <td>中荣日盈</td>
            <td>2011-11-11</td>
            <td>0.9999</td>
            <td>1.665%</td>
            <td><img src="../img/zhang.png"> 0.39%</td>
        </tr>
        </tbody>
    </table>
    <div class="jingzhiPageChange">
        <span>首页</span>
        <span class="padd15"> < </span>
        <span class="padd15">上一页</span>
        <span style="color: #e92635">1</span><span>/25</span>
        <span class="padd15">下一页</span>
        <span class="padd15"> > </span>
        <span>尾页</span>
    </div>
</div>