<div class="manageMain">
                  <div class="fundManage">
                      <img src="../img/pic.png" class="manageImg">
                      <div class="name">
                          <span>李倩</span>
                          <span>女士</span>
                          <span>金融学学士</span>
                          <div class="manageInfo">
                              <span>毕业于对外经济贸易大学金融学专业，本科学历，已取得基金从业资格，证券从业年限8年。2007年7月至2014年7月曾任银华基金管理有限公司交易管理部交易员，固定收益部基金经理助理，
                                  2014年7月加入中融基金管理有限公司，任固收投资部(北京)基金经理，2014年10月至今任本基金基金经理。</span>
                          </div>
                      </div>
                  </div>
                  <div class="fundManage">
                      <img src="../img/pic.png" class="manageImg">
                      <div class="name">
                          <span>秦娟</span>
                          <span>女士</span>
                          <span>经济学学士</span>
                          <div class="manageInfo">
                              <span>经济学硕士研究生，历任广东证券股份有限公司债券分析师、东莞银行股份有限公司债券分析师、长信基金管理有限责任公司债券研究员、天治天得利货币市场基金的基金经理、天治基金固定收益部总监、天治稳健双盈债券基金、天治稳定收益债券基金和天治可转债基金的基金经理。2015年加入中融基金管理有限公司。</span>
                          </div>
                      </div>
                  </div>
                  <div class="manageMainDiv">
                      <div class="managePoint">
                          <div>投资回顾</div>
                      </div>
                      <div class="manageintro">截止本报告期末，期末基金资产净值743,536,907.63元，中融日日盈货币交易型基金份额净值增长率为0.5927%，同期业绩比较收益率为0.3366%。工业生产继续回落，去产能调整结构持续进行，进出口大幅下滑，消费小幅回落但仍然保持稳定。1、2月新增信贷达到3.2万亿，2月份新增信贷比1月份回落，短期内政府托底经济效果明显，在一系列政策的促进下，投资增速有小幅回升但其持续性有待验证。一季度中债综合财富指数上涨1.14%，其中1月份上涨0.2%，2月上涨0.3%，3月份上涨0.64%。类属资产方面，信用债表现好于利率债，中短久期表现好于长久期。具体来看，利率债收益率曲线呈现陡峭化态势，10年期国债收益率上行2bp，5y期国债收益率下行22bp。各评级短融收益率下行10-20bp，3-5年中票收益率下行15-25bp。受到接连不断的信用事件影响，产能过剩行业、低评级民企债信用利差维持高位。一季度，本基金减持中低评级以及过剩产业信用债，增加了中高评级短期融资券以及公司债。
                      </div>
                  </div>
                  <div class="manageMainDiv">
                      <div class="managePoint">
                          <div>后市展望</div>
                      </div>
                      <div class="manageintro">2016年一季度，经济数据表现较为分化。工业生产继续回落，去产能调整结构持续进行，进出口大幅下滑，消费小幅回落但仍然保持稳定。1、2月新增信贷达到3.2万亿，2月份新增信贷比1月份回落，短期内政府托底经济效果明显，在一系列政策的促进下，投资增速有小幅回升但其持续性有待验证。一季度中债综合财富指数上涨1.14%，其中1月份上涨0.2%，2月上涨0.3%，3月份上涨0.64%。类属资产方面，信用债表现好于利率债，中短久期表现好于长久期。具体来看，利率债收益率曲线呈现陡峭化态势，10年期国债收益率上行2bp，5y期国债收益率下行22bp。各评级短融收益率下行10-20bp，3-5年中票收益率下行15-25bp。受到接连不断的信用事件影响，产能过剩行业、低评级民企债信用利差维持高位。一季度，本基金减持中低评级以及过剩产业信用债，增加了中高评级短期融资券以及公司债。
                      </div>
                  </div>
                  <div class="manageMainDiv">
                      <div class="managePoint">
                          <div>历任基金经理</div>
                      </div>
                      <div class="manageTable">
                          <table>
                              <tbody>
                              <tr>
                                  <td>姓名</td>
                                  <td>任期起始日</td>
                                  <td>任期结束日</td>
                              </tr>
                              <tr>
                                  <td>贾志敏</td>
                                  <td>2016-10-06</td>
                                  <td>2016-10-06</td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
          </div>