<div class="productMainDiv">
    <div class="massageChooseMain">
        <div class="messageChoose">
            <span>基金名称:</span>
            <select>
                <option>中融日盈</option>
            </select>
        </div>
        <div class="messageChoose">
            <span>公告类别:</span>
            <select>
                <option>所有公告</option>
            </select>
        </div>
        <div class="messageChoose">
            <span>标题:</span>
            <input type="text" value="中融日盈">
            <button>提交</button>
        </div>
    </div>
    <div class="managePoint" style="margin-top: 22px">
        <div>定期公告</div>
        <span>更多></span>
    </div>
    <div class="messageListMain">
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div> <div class="massageList">
        <div class="point"></div>
        <span>中融日盈货币债券投资基金2016年度第一次报告</span>
        <span>2016-01-01</span>
    </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
    </div>
    <div class="managePoint">
        <div>基金公告</div>
        <span>更多></span>
    </div>
    <div class="messageListMain">
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div> <div class="massageList">
        <div class="point"></div>
        <span>中融日盈货币债券投资基金2016年度第一次报告</span>
        <span>2016-01-01</span>
    </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
    </div>
    <div class="managePoint">
        <div>基金招募说明书</div>
        <span>更多></span>
    </div>
    <div class="messageListMain">
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div> <div class="massageList">
        <div class="point"></div>
        <span>中融日盈货币债券投资基金2016年度第一次报告</span>
        <span>2016-01-01</span>
    </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
    </div>
    <div class="managePoint">
        <div>基金合同</div>
        <span>更多></span>
    </div>
    <div class="messageListMain">
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div> <div class="massageList">
        <div class="point"></div>
        <span>中融日盈货币债券投资基金2016年度第一次报告</span>
        <span>2016-01-01</span>
    </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
    </div>
    <div class="managePoint">
        <div>发售公告</div>
        <span>更多></span>
    </div>
    <div class="messageListMain">
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div> <div class="massageList">
        <div class="point"></div>
        <span>中融日盈货币债券投资基金2016年度第一次报告</span>
        <span>2016-01-01</span>
    </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
        <div class="massageList">
            <div class="point"></div>
            <span>中融日盈货币债券投资基金2016年度第一次报告</span>
            <span>2016-01-01</span>
        </div>
    </div>
</div>