<div class="productMainDiv">
<table class="fundTable">
              <tbody>
                  <tr>
                      <td class="tableMain">基金名称</td>
                      <td style="width: 36%;">中融日日盈交易型货币市场基金</td>
                      <td class="tableMain">基金类型</td>
                      <td>货币市场基金</td>
                  </tr>
              <tr>
                  <td rowspan="3" class="tableMain">基金代码</td>
                  <td>认购代码 : <span>511933</span></td>
                  <td class="tableMain">运作方式</td>
                  <td>交易型开放式</td>
              </tr>
                  <tr>
                      <td>申购代码  :<span>511931</span></td>
                      <td class="tableMain">存续期限</td>
                      <td>不定期</td>
                  </tr>
                  <tr>
                      <td>交易代码 : <span>511930</span></td>
                      <td class="tableMain">业绩比较基准</td>
                      <td>七天通知存款利率 ( 税后 )</td>
                  </tr>
                  <tr>
                      <td class="tableMain">基金托管行</td>
                      <td style="width: 36%;">中国工商银行股份有限公司</td>
                      <td class="tableMain">基金亮点</td>
                      <td>追求绝对利益为投资目标，超越业绩稳定收益</td>
                  </tr>
              </tbody>
          </table>
          <div class="target">
              <div class="targetTitle">
                  <span>投资目标</span>
              </div>
              <div class="targetInfo">
                  <span>在保持基金资产的低风险和高流动性的前提下，力争实现超越业绩比较基准的投资回报。</span>
              </div>
          </div>
          <div class="target">
              <div class="targetTitle">
                  <span>投资策略</span>
              </div>
              <div class="targetInfo" style="height: auto">
                  <span>本基金将根据宏观经济走势、货币政策、短期基金市场状况等因素对利率走势进行综合判断，并根据利率预期动态调整基金投资组合的平均剩余期限，力求在满足安全性、流动性需要的基础上实现更高的收益率</span>
                  <div class="titleBold">1、久期控制策略<br>
                      <span>本基金将根据对货币市场利率趋势的判断来配置基金资产的久期。在预期利率上升时，缩短基金资产的久期，以规避资本损失或获得较高的再投资利益；在预期利率下降时，延长基金资产的久期，以获取资本利得或锁定较高的收益率。</span>
                  </div>
                  <div class="titleBold">2、资产类属配置策略<br>
                      <span>资产类属配置是指基金资产在各类短期金融工具以及现金等投资品种之间配置的比例。本基金通过对各类别金融工具的流动性、收益率水平、供求关系、信用等级等因素的研究判断，挖掘不同类别金融工具的结构性投资价值，制定并调整类属配置，形成合理组合以实现稳定的投资收益。</span>
                  </div>
                  <div class="titleBold">3、时机选择策略<br>
                      <span>股票、债券发行以及季末、年末效应等因素可能会使市场资金供求情况发生暂时失衡，进而推高市场利率，充分利用这种短暂失衡能够提高基金资产的收益率。</span>
                  </div>
                  <div class="titleBold" style="margin-bottom: 15px">4、套利策略<br>
                      <span>套利操作策略主要包括两个方面：<br>
                            （1）跨市场套利。短期资金市场有交易所市场和银行间市场构成，由于其中的投资群体、交易方式等要素不同，使得两个市场的资金面、短期利率期限结构、流动性等方面都存在着一定的差别。本基金将在充分论证套利机会可行性的基础上，寻找合理的介入时机，进行跨市场套利操作，以期获得安全的超额收益。
                            （2）跨品种套利。由于投资群体存在一定的差异性，对期限相近的交易品种同样可能因为存在流动性、税收等市场因素的影响出现内在价值明显偏离的情况。本基金将在保证高流动性的基础上进行跨品种套利操作，以期获得安全的超额收益。</span>
                  </div>
              </div>
          </div>
          <div class="target">
              <div class="targetTitle">
                  <span>投资范围</span>
              </div>
              <div class="targetInfo">
                  <span>本基金投资于法律法规及监管机构允许投资的金融工具，包括现金，通知存款，短期融资券，剩余期限在397天以内（含397天）的债券，剩余期限在397天以内（含397天）的资产支持证券，剩余期限在397天以内（含397天）的中期票据，一年以内（含一年）的银行定期存款及大额存单，期限在一年以内（含一年）的中央银行票据，期限在一年以内（含一年）的债券回购以及中国证监会、中国人民银行认可的其他具有良好流动性的货币市场工具。</span>
              </div>
          </div>
          <div class="target">
              <div class="targetTitle">
                  <span>风险收益特征</span>
              </div>
              <div class="targetInfo">
                  <span>本基金为货币市场基金，是证券投资基金中的低风险品种。本基金的预期风险和预期收益低于股票型基金、混合型基金、债券型基金。</span>
              </div>
          </div>
          <table class="fundTable">
              <tbody>
              <tr>
                  <td class="tableMain">认购单笔最低限额</td>
                  <td style="width: 36%;">1000份或1000份的整数倍</td>
              </tr>
              <tr>
                  <td class="tableMain">申购单笔最低限额</td>
                  <td style="width: 36%;">1份或1份的整数倍</td>
              </tr>
              <tr>
                  <td class="tableMain">单笔赎回最低金额</td>
                  <td style="width: 36%;">1份或1份的整数倍。上海证券交易所可根据基金管理人的要求对当日的赎回申请进行总量控制。</td>
              </tr>
              </tbody>
          </table>
          <div class="target">
              <div class="targetTitle">
                  <span>申赎/买卖规则</span>
              </div>
              <table class="tableRule tableDashed">
                  <tbody>
                      <tr>
                          <td style="width: 12%">操作</td>
                          <td>当日收益</td>
                          <td>份额可用</td>
                          <td>资金可用</td>
                          <td style="width: 15%">资金可取</td>
                      </tr>
                      <tr>
                          <td>申购</td>
                          <td>不享受</td>
                          <td>T+2日</td>
                          <td>--</td>
                          <td>--</td>
                      </tr>
                      <tr>
                          <td>赎回</td>
                          <td>享受</td>
                          <td>--</td>
                          <td>T+2日</td>
                          <td>T+2日</td>
                      </tr>
                      <tr>
                          <td>买入</td>
                          <td>享受</td>
                          <td>T日</td>
                          <td>--</td>
                          <td>--</td>
                      </tr>
                      <tr>
                          <td>卖出</td>
                          <td>不享受</td>
                          <td>--</td>
                          <td>T日</td>
                          <td>T+1日</td>
                      </tr>
                  </tbody>
              </table>
          </div>
</div>