<div class="rareMain productMainDiv">
    <table class="rareTable" style="display: none">
        <tbody>
            <tr>
                <td>认/申购费</td>
                <td>0</td>
            </tr>
            <tr>
                <td>赎回费</td>
                <td>0</td>
            </tr>
            <tr>
                <td>管理费</td>
                <td>0</td>
            </tr> <tr>
                <td>托管费</td>
                <td>0</td>
            </tr>
            <tr>
                <td>销售服务费</td>
                <td>0</td>
            </tr>
            <tr>
                <td>认购数额限制</td>
                <td>0</td>
            </tr>
            <tr>
                <td>申/赎回的数额限制</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>

    <table class="normalFund">
        <tbody>
            <tr>
                <td colspan="2" class="bg-white">认购费</td>
            </tr>
            <tr>
                <td>M<100万元</td>
                <td>0.50%</td>
            </tr>
            <tr>
                <td>100万元≤M<300万元</td>
                <td>0.30%</td>
            </tr>
            <tr>
                <td>300万元≤M<500万元</td>
                <td>0.10%</td>
            </tr>
            <tr>
                <td>M>500万元</td>
                <td>每笔1000元</td>
            </tr>
            <tr>
                <td colspan="2" class="bg-white">申购费</td>
            </tr>
            <tr>
                <td>M<100万元</td>
                <td>0.60%</td>
            </tr>
            <tr>
                <td>100万元≤M<300万元</td>
                <td>0.40%</td>
            </tr>
            <tr>
                <td>300万元≤M<500万元</td>
                <td>0.20%</td>
            </tr>
            <tr>
                <td>M>500万元</td>
                <td>每笔1000元</td>
            </tr>
            <tr>
                <td colspan="2" class="bg-white">赎回费</td>
            </tr>
            <tr>
                <td>Y < 30日</td>
                <td>0.75%</td>
            </tr>
            <tr>
                <td>30日≤ Y <1年</td>
                <td>0.10%</td>
            </tr>
            <tr>
                <td>1年≤ Y < 2年</td>
                <td>0.05%</td>
            </tr>
            <tr>
                <td>Y≥2年</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
    <table class="rareTable">
        <tbody>
        <tr>
            <td>管理费率</td>
            <td>0.70%</td>
        </tr>
        <tr>
            <td>托管费率</td>
            <td>0.20%</td>
        </tr>
        <tr>
            <td>销售服务费</td>
            <td>0</td>
        </tr>
        <tr>
            <td>单笔认/申购最低金额</td>
            <td>100元</td>
        </tr>
        <tr>
            <td>单笔赎回最低份额</td>
            <td>100份</td>
        </tr>
        </tbody>
    </table>

</div>