<div class="page-top row m-n">
    <ul class="">
        <li><a>登录</a></li>
        <li><a>注册</a></li>
        <li><a>首页</a></li>
        <li class="qtr-pre"><a>在线客服</a></li>
        <li class="qtr">
            <a>移动理财</a>
            <div class="qtr-wrape">
                <div>
                    <img src="../img/qtr.png" />
                    <p>中融基金APP</p>
                </div>
                <div>
                    <img src="../img/qtr2.png" />
                    <p>中融基金微信号</p>
                </div>
            </div>
        </li>
        <li>
            <span class="phone">400-160-6000</span><br/>
            <span class="web">www.igwfmc.com</span>
        </li>
    </ul>
</div>
<div class="row page-nav pageLead top-bottom m-l-none m-r-none">
    <div class="col-md-3 text-right">
        <img src="../img/logo.png" />
    </div>
    <div class="col-md-9 text-sm">
        <ul class="parent-nav">
            <li data-id="1" class=""><a>首页</a></li>
            <li data-id="2" class="">
                <a>融钱包</a>

            </li>
            <li data-id="3" class="triangle-bottom ">
                <a class="hover-red">旗下产品</a>

                <div class="sub-nav fund-menu">
                   <dl class="fixWidth">
                        <dt data-target="currencyType"><div class="redSquare"></div><a>货币型</a><img src="../img/gengduo.png"></dt>
                        <dt data-target="fundType"><div class="redSquare"></div><a>债券型</a><img src="../img/gengduo.png"></dt>
                        <dt data-target="blendType"><div class="redSquare"></div><a>混合型</a><img src="../img/gengduo.png"></dt>
                        <dt data-target="exponentialType"><div class="redSquare"></div><a>指数型</a><img src="../img/gengduo.png"></dt>
                        <dt data-target="equityType"><div class="redSquare"></div><a>股票型</a><img src="../img/gengduo.png"></dt>
                    </dl>
                    <div class="currencyType fund-list on">
                        <div class="paddFundList">
                            <div class="fundTitiePro"><div>基金名称</div><div>Fund name</div></div>
                            <div class="fund-list-left">
                                <a><span>111</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                            </div>
                            <div class="fund-list-right">
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="fundType fund-list">
                        <div class="paddFundList">
                            <div class="fundTitiePro"><div>基金名称</div><div>Fund name</div></div>
                            <div class="fund-list-left">
                                <a><span>222</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                            </div>
                            <div class="fund-list-right">
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="blendType fund-list">
                        <div class="paddFundList">
                            <div class="fundTitiePro"><div>基金名称</div><div>Fund name</div></div>
                            <div class="fund-list-left">
                                <a><span>333</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                            </div>
                            <div class="fund-list-right">
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="exponentialType fund-list">
                        <div class="paddFundList">
                            <div class="fundTitiePro"><div>基金名称</div><div>Fund name</div></div>
                            <div class="fund-list-left">
                                <a><span>444</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                            </div>
                            <div class="fund-list-right">
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="equityType fund-list">
                        <div class="paddFundList">
                            <div class="fundTitiePro"><div>基金名称</div><div>Fund name</div></div>
                            <div class="fund-list-left">
                                <a><span>555</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                            </div>
                            <div class="fund-list-right">
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                                <a><span>中融增鑫1定期</span><span>000400</span></a>
                            </div>
                        </div>
                    </div>


                </div>
            </li>
            <li data-id="4" class="triangle-bottom small-nav secondListStyle" style="width: 12%">
                <a class="hover-red">高端理财</a>
                <div class="sub-nav small-sub-nav">
                    <dl>
                        <dt>高端理财产品</dt>
                        <dt>贵宾服务</dt>
                        <dt>互动中心</dt>
                    </dl>
                </div>
            </li>
            <li data-id="5" class=" triangle-bottom small-nav secondListStyle" >
                <a class="hover-red">资讯中心</a>
                <div class="sub-nav small-sub-nav">
                    <dl>
                        <dt class="">中融视点</dt>
                        <dt>行业动态</dt>
                        <dt>信息披露</dt>
                    </dl>
                </div>
            </li>
            <li data-id="6" class="secondListStyle"><a>关于中融</a></li>
            <li data-id="7" class=" triangle-bottom small-nav">
                <a class="hover-red">客户服务</a>
                <div class="sub-nav small-sub-nav">
                    <dl>
                        <dt class="">子菜单1</dt>
                        <dt>子菜单2</dt>
                        <dt>子菜单3</dt>
                    </dl>
                </div>
            </li>
            <li data-id="8" class=""><a>我的账户</a></li>
        </ul>
    </div>
</div>