
.content{
    background-color: #f9f9f9;
    width: 100%;
    margin-right: auto;
    text-align: left;
    padding: 0 7%;
    padding-bottom: 30px;
}
.banner{
    margin: -10px;
}
.banner img{
    width: 100%;
}
.locationNow{
    padding: 20px 0 10px 0;
}
.middle{
    background-color: #f9f9f9;
    margin-top: 20px;
}
.nav-tabs{
    overflow: hidden;
    margin: 0;
}
.nav-tabs li{
    background-color: #e92635;
   height:60px;
    line-height: 60px;
    width: 25%;
    font-size: 16px;
    position: relative;
}
.nav-tabs li a{
    color: #fff;
    text-decoration: none;
}

.nav-tabs li.active{
    font-size: 18px;
    font-weight: bold;
}
.nav-tabs li.active:before{
    display: block;
    content: "";
    height: 12px;
    width: 36px;
    left: 50%;
    margin-left: -18px;
    position: absolute;
    bottom: 0;
    background: url(../../img/tri2.png);
}
.tab-pane{
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 50px 40px 0 40px;
    background-color: #fff;
}

.part {
    position: relative;
    height: 45px;
}
.part span {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 24px;
    border-bottom: 1px solid #e92635;
    color: #e92635;
    padding-bottom: 10px;
}
.section{
    font-size:16px;
    text-indent: 2em;
    line-height: 24px;
}
  .tool-bar{
      position: absolute;
      right: 3%;
      bottom: 25px;
      margin: 0;
}
  .tool-bar li{
    margin-top:5px;
    cursor: pointer;
}
 .tool-bar li.qt-code-wrap{
    position: relative;
}
 .tool-bar li .qt-code{
    display: none;
}
  .tool-bar li.qt-code-wrap:hover .qt-code {
    position: absolute;
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 10px 0 10px;
    left: -100px;
    top: -70px;
}
  #connectus p{
    padding-left: 30px;
      margin-bottom: 15px;
  }
.address ,.tel ,.email{
    font-size: 20px;
}
.address:before ,.tel:before ,.email:before{
    display: block;
    content: "";
    position: absolute;
    width:25px;
    height: 25px;
    left:0;
}
.address:before{
    background: url(../../img/about/address.png) center no-repeat;
}
.tel:before{
     background: url(../../img/about/tel.png) center no-repeat;
 }
.email:before{
    background: url(../../img/about/email.png) center no-repeat;
}
.eg-address{
    text-indent: 3em;
    color:#B1AFAF;
}
.search-bar {
    margin-bottom: 10px;
}
.search-bar label{
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
}
.search-bar a{
    color: #B1AFAF;
    font-size: 16px;
    margin: 0 15px;
    cursor: pointer;
    text-decoration: none;
}
.search-bar .search-input{
    display:inline-block;
    border:3px solid #E92636;
    position: relative;
    border-right: 55px solid #E92636;
}
.search-bar .search-input .search-btn{
    display: inline-block;
    width: 55px;
    height: 39px;
    position: absolute;
    content: "\e003";
    top: -3px;
    right: -54px;
    background: url(../../img/about/search.png) no-repeat center ;
    cursor: pointer;
}
.search-bar input{
    width:430px;
    border: none;
    outline: none;
    padding: 5px 0 5px 20px;
    font-size: 18px;
}
.search-item{
    margin-left:60px;
    position: relative;
    padding-left:80px;
    padding-top:10px;
}
.search-item label{
    position: absolute;
    left: 0;
    font-weight: 500;
    font-size: 16px;
}
.search-item a{
    font-weight: 800;
    color:#444;
    padding: 5px 10px;
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #fff;
    text-decoration: none;
    cursor: pointer;
}
.search-item a.on{
    border: 1px solid #E92636;
    color: #E92636;
}
.position{
    border: 1px solid #ccc;
    margin-top: 30px;
}
.potion-top{
    color: #E92636;
    background: #f9f9f9;
    font-size: 20px;
    padding: 10px 20px; font-weight: 800;
    position: relative;
}
.potion-top span{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    right: 20px;
    top:15px;
    color: #444;
    cursor: pointer;
}
.position table{
    width: 94%;
    margin: 0 3%;
}
.position  table td{
    padding: 10px 0 5px 0;
}
.position  table tr:nth-child(2n){
    background: #f9f9f9;

}
.position table .border-tr td{
    border-bottom: 1px dashed #ccc;
    padding-top: 10px;
}
#joinus .part span{
    font-size: 20px;
    font-weight: 800;
    color: #E92636;
    border-bottom: 1px solid #E92636;
}
#joinus .part{
margin-top:20px;
}
#joinus .part .more{
    position: absolute;
    right: 20px;
    color: #444;
    top: 10px;
    text-decoration: none;
    cursor: pointer;
}
#joinus ul li,#activity ul li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0;
    list-style: disc inside;
    cursor: pointer;
    padding-right: 80px;
    position: relative;
}
#joinus ul li span,#activity ul li span{
    position: absolute;
    right: 0;
}
#joinus .new{
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    /* padding-bottom: 12px; */
    height: 16px;
    font-weight: 800;
    vertical-align: top;
    color: #71B0F9;
    border: 1px solid #71B0F9;
    padding: 0 5px;
    margin-left: 5px;
}
#activity .title{
    color: #E92636;
    font-size: 24px;
    padding: 10px 0 20px 60px;
    background: url("../../img/about/circle.png") no-repeat left 10px;
    border-bottom: 1px solid #EFE9E9;
    margin-bottom: 30px;
}
.info{
    padding-bottom: 20px;
    border-bottom: 1px solid #EFE9E9;
}
.jingzhiPageChange{
    font-size: 12px;
    color:#4e4e4e;
    margin-bottom: 31px;
    text-align: center;
    width: 100%;
    margin-top:20px;
}
.jingzhiPageChange>span:first-child{
    padding-right: 23.5px;
}
.jingzhiPageChange>span:nth-child(8){
    padding-left: 23.5px;
}
#introduction{
    padding-bottom: 30px;
}
#connectus{
    padding-bottom: 30px;
}