
.content{
    background-color: #f9f9f9;
    width: 100%;
    margin-right: auto;
    text-align: left;
    padding: 0 7%;
    padding-bottom: 30px;
}
.banner{
    margin: -10px;
}
.banner img{
    width: 100%;
}
.locationNow{
    padding: 20px 0 10px 0;
}
.middle{
    background-color: #f9f9f9;
    margin-top: 20px;
}
.nav-tabs{
    overflow: hidden;
    margin: 0;
}
.nav-tabs li{
    background-color: #e92635;
    height:60px;
    line-height: 60px;
    width: 12.5%;
    font-size: 16px;
    position: relative;
}
.nav-tabs li a{
    color: #fff;
    text-decoration: none;
}

.nav-tabs li.active{
    font-size: 18px;
    font-weight: bold;
}
.nav-tabs li.active:before{
    display: block;
    content: "";
    height: 12px;
    width: 36px;
    left: 50%;
    margin-left: -18px;
    position: absolute;
    bottom: 0;
    background: url(../../img/tri2.png);
}
.tab-content{
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 50px 40px 0 40px;
    background-color: #fff;
}

.part {
    position: relative;
    height: 45px;
}
.part span {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 24px;
    border-bottom: 1px solid #e92635;
    color: #e92635;
    padding-bottom: 10px;
}
.section{
    font-size:16px;
    text-indent: 2em;
    line-height: 24px;
}
.tool-bar{
    position: absolute;
    right: 3%;
    bottom: 25px;
    margin: 0;
}
.tool-bar li{
    margin-top:5px;
    cursor: pointer;
}
.tool-bar li.qt-code-wrap{
    position: relative;
}
.tool-bar li .qt-code{
    display: none;
}
.tool-bar li.qt-code-wrap:hover .qt-code {
    position: absolute;
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 10px 0 10px;
    left: -100px;
    top: -70px;
}
#tradeOnline ul li,#mtab-pane ul li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0;
    list-style: disc inside;
    cursor: pointer;
    padding-right: 80px;
    position: relative;
}
#tradeOnline ul li span,#manualQuery ul li span{
    position: absolute;
    right: 0;
}

.tab-pane .title{
    color: #E92636;
    font-size: 24px;
    padding: 10px 0 20px 60px;

    border-bottom: 1px solid #EFE9E9;
    margin-bottom: 30px;
}
#tradeOnline .title{
    background: url("../../img/service/tradeOnline.png") no-repeat left 10px;
}
#manualQuery .title{
    background: url("../../img/service/manualQuery.png") no-repeat left 10px;
}
#serveOnline .title{
    background: url("../../img/service/serveOnline.png") no-repeat left 10px;
}
.info{
    color: #949292;
}
.jingzhiPageChange{
    font-size: 12px;
    color:#4e4e4e;
    margin-bottom: 31px;
    text-align: center;
    width: 100%;
    margin-top:20px;
}
.jingzhiPageChange>span:first-child{
    padding-right: 23.5px;
}
.jingzhiPageChange>span:nth-child(8){
    padding-left: 23.5px;
}

.tips-title{
   color: #333;
    font-size: 17px;
}
.btn-wrapper a{
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 17px;
    background: #E92636;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;

}
.btn-wrapper{
    padding: 30px;
}