.hight-financial-content{
    background-color: #fff;
    min-height: 475px;
    box-shadow: -2px 0 13px #ddd;
    margin-bottom: 22px;
    padding-top: 25px;
}
.locationNow{
    padding: 20px 0 10px 0;
}
.content {
    background-color: #f9f9f9;
    width: 100%;
    margin-right: auto;
    text-align: left;
    padding: 0 7%;
    padding-bottom: 30px;
}
.tool-bar{
    position: absolute;
    right: 3%;
    bottom: 25px;
    margin: 0;
}
.tool-bar li{
    margin-top:5px;
    cursor: pointer;
}
.tool-bar li.qt-code-wrap{
    position: relative;
}
.tool-bar li .qt-code{
    display: none;
}
.tool-bar li.qt-code-wrap:hover .qt-code {
    position: absolute;
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 10px 0 10px;
    left: -100px;
    top: -70px;
}
.left-nav{
    font-size: 17px;

}
.left-nav ul{
    margin-right: 20px;
    border-right: 1px solid #e6e2e2;
}
.left-nav li{
    padding: 18px 0;
    margin: 0 10px;
    border-bottom: 1px dashed #e6e2e2;
    text-indent: 1em;
    position: relative;
    color: #333;
}
.left-sub-nav  a{
    display: block;
    color: #a3a3a3;
    font-size: 16px;
    text-decoration: none;
    padding-top: 10px ;
    position: relative;
}
.left-sub-nav  a.on:after{
    display: block;
    content: "";
    width: 2px;
    height: 100%;
    background: #e92635;
    position: absolute;
    top: 0;
    right: -11px;
}
.left-sub-nav{
    display: none;
}
.left-nav  li.on .left-sub-nav{
    display: block;
}
.left-sub-nav  a.on{
    color: #e92635;
    font-size: 16px;
    font-weight: 800;
}
.left-nav li:after{
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 25px;
    right: 10px;
    background: url("../../img/down.png") no-repeat;
}
.left-nav li.on::after{
    background: url("../../img/up.png") no-repeat;
}
.part {
    position: relative;
    height: 45px;
}
.part span {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 24px;
    border-bottom: 1px solid #e92635;
    color: #e92635;
    padding-bottom: 10px;
}
.fund-list{
    width: 100%;
    border: 1px dashed #e6e2e2;
}
.fund-list td{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px dashed #e6e2e2;
}