.banner{
    height: 373px;
    position: relative;
    max-width: 1800px;
    margin:auto;
    min-width: 1200px;
}
.banner .login-bar{
    left: 50%;
    top: 17px;
    margin-left: 260px;
    position: absolute;
}
.banner .img-item1{
    background: url(../../img/banner11_02.png) center;
}
.banner .item a{
    display: block;
    height: 374px;
}
.open-account{
    padding: 25px 40px;
    height:228px;
    background: rgba(239, 52, 83, 0.9);
    background:-moz-linear-gradient( left,rgba(239, 52, 83, 0.9), rgba(252, 119, 72, 0.9));
    background:-webkit-gradient(linear, 0 0, right 0, from(rgba(239, 52, 83, 0.9)), to(rgba(252, 119, 72, 0.9)));
    background: -webkit-linear-gradient(left, #F2445F 0%,#FE8353 100%);
    background: -o-linear-gradient(left, #F2445F 0%,#FE8353 100%);
    background: -ms-linear-gradient(left, #F2445F 0%,#FE8353 100%);
    background: linear-gradient(to right, #F2445F 0%,#FE8353 100%);
}
.rqb{
    padding: 25px 10px;
    color: #fff;
    height:228px;
    background: rgba(144, 85, 229, 0.9);
    background:-moz-linear-gradient( left,rgba(144, 85, 229, 0.9), rgba(85, 128, 223, 0.9));
    background:-webkit-gradient(linear, 0 0, right 0, from(rgba(144, 85, 229, 0.9)), to(rgba(85, 128, 223, 0.9)));
    background: -o-linear-gradient(left, #9055E5 0%,#5580DF 100%);
    background: -ms-linear-gradient(left, #9055E5 0%,#5580DF 100%);
    background: linear-gradient(to right, #9055E5 0%,#5580DF 100%);
}
.carousel-control.right,.carousel-control.left{
    line-height: 242px;
    font-size: 34px;
}
.rqb p{
    margin-bottom: 6px;
}
.rqb button{
    display: inline-block;
    height: 37px;
    outline: none;
    width: 108px;
    border: 1px solid #fff;
    background: none;
    border-radius: 2px;
    background: rgba(255,255,255,0.1);
}
.rqb .kpi{
    font-size: 35px;
}
.open-account .title,.rqb .title{
    color: #fff;
    font-size: 30px;
}
.open-account button{
    width: 100%;
    background: none;
    height: 40px;
    display: block;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    margin-top: 15px;
    outline: none;
    background: rgba(255,255,255,0.1);
}
.banner .tool-icon{
    display:inline-block;
    width:20px;
    height:20px;
    background: #ddd;
    padding-top: 10px;
}
.banner .open-account-icon{
    background: url(../../img/graph-off.png);
    background-size: cover;
}
.banner  ul li:hover .open-account-icon{
    background: url(../../img/graph-on.png);
    background-size: cover;
}
.banner .bank-card-icon{
    background: url(../../img/card-off.png);
    background-size: cover;
}
.banner  ul li:hover .bank-card-icon{
    background: url(../../img/card-on.png);
    background-size: cover;
}
.banner .rate-icon{
    background: url(../../img/rate-off.png);
    background-size: cover;
}
.banner  ul li:hover .rate-icon{
    background: url(../../img/rate-on.png);
    background-size: cover;
}
.banner .cloud-down-icon{
    background: url(../../img/cloud-down-off.png);
    background-size: cover;
}
.banner  ul li:hover .cloud-down-icon{
    background: url(../../img/cloud-down-on.png);
    background-size: cover;
}
.banner .basket-icon{
    background: url(../../img/basket-off.png);
    background-size: cover;
}
.banner  ul li:hover .basket-icon{
    background: url(../../img/basket-on.png);
    background-size: cover;
}
.banner .sarrary-icon{
    background: url(../../img/sarrary-off.png);
    background-size: cover;
}
.banner  ul li:hover .sarrary-icon{
    background: url(../../img/sarrary-on.png);
    background-size: cover;
}
.banner ul{
    width: 242px;
    overflow: hidden;
    background: #fff;
    padding-top:5px;
    opacity: 0.7;
    font-size: 12px;
}
.banner  ul li:hover{
    color: #e92635;
}
.banner  ul li{
    float: left;
    cursor: pointer;
    width: 33%;
    text-align: center;
}
.banner  ul li p{
    margin-bottom: 5px;
}
.recommend-fund{
    background: #f9f9f9;
    padding: 20px 80px;
    -webkit-box-shadow: 0 10px 39px #F9F3F3;
    -moz-box-shadow: 0 10px 39px #F9F3F3;
    box-shadow: 0 10px 39px #F9F3F3;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#F9F3F3', Direction=135, Strength=5)
}
.recommend-fund .icon{
    display: inline-block;
    vertical-align: middle;
    font-weight:800;
    padding: 0 5px;
    font-size: 12px;
    line-height: 11px;
}

.recommend-fund .buy-btn{
    display: inline-block;
    border: 1px solid #E92635;
    width: 187px;
    line-height: 28px;
    text-align: center;
    color: #E92635;
    margin-left: 52px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
}
.recommend-fund .buy-btn:hover{
    color: #fff;
    background: #E92635;
}
.the-funds{
    padding: 20px 80px;
}
.the-funds ul{
    overflow: hidden;
    background: #f9f9f9;
}
.the-funds ul li{
    float: left;
    font-size: 17px;
    width: 25%;
    cursor: pointer;
}
.the-funds ul li a{
    text-decoration: none;
    padding: 15px 0;
    color:#4e4e4e;
    display: block;
}
.the-funds ul li.active{
    color: #fff;
    background: #e92635;
}
.the-funds ul li.active a{
    color: #fff;
    background: #e92635;
}
.the-funds table{
    width: 100%;
    border-collapse: collapse;
}
.the-funds table td, .the-funds table th{
    border-bottom: 1px solid #ececec;
    padding: 12px 0;

}
.the-funds table td .buy-btn{
    display: inline-block;
    border: 1px solid #E92635;
    width: 56px;
    line-height: 22px;
    text-align: center;
    color: #E92635;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}
.the-funds table tr:hover td{
    background: #f9f9f9;
}
.the-funds table tr:hover td .buy-btn{
    color: #fff;
    background:  #E92635;
}
.rec-fund{
    position: relative;
}
.rec-fund .icon{
    position: absolute;
    left:0;
    top:0;
    display: block;
    height:80px;
    width: 80px;
}
.rec-fund .icon.hot{
    background: url(../../img/hot.png) no-repeat;
}
.rec-fund .icon.new{
    background: url(../../img/new.png) no-repeat;
}
.divide{
    background: url("../../img/banner.png");
    height: 100px;
    color: #fff;
    font-size: 16px;
}
.divide .kpi{
    padding-top: 30px !important;
}
.home-big-ft{
    text-align: right;
    color: #fff;
    font-size: 35px;
    line-height: 100px;
}
.home-big-ft.text-left{
    text-align: left;
}
.divide .buy-btn{
    display: inline-block;
    border: 1px solid #fff;
    width: 128px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}
.zr-view{
    padding:20px 80px;
    background: #f9f9f9;
}
.zr-view .hot-new{
    position: relative;
    padding-left: 125px;
    font-size: 13px;
    margin-right: 20px;
    min-height: 108px;
}
.zr-view .hot-new img{
    position: absolute;
    left: 0;
}
.zr-view .hot-new .time{
    color: #B1AFAF;
    font-size:12px;
}
.zr-view .hot-new .sub-title{
    font-size: 12px;
    color: #4e4e4e;
}
.zr-view .tool-bar{
    display: block;
    position: relative;
    cursor: pointer;
}
.zr-view .tool-bar img{
    width: 100%;
}
.zr-view .tool-bar p{
    position: absolute;
    font-size: 16px;
    left: 10px;
    top: 10px;
}
.zr-view .tool-bar p.download{
    right: 10px;
    left: auto;
    text-align: right;
}
.zr-view .tool-bar p .egl-name{
    font-size: 14px;
    color: #4e4e4e;
}
.zr-view ul li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0;
    list-style: disc inside;
    cursor:pointer;
   padding-right: 80px;
    position: relative;
}
.zr-view ul li .viewTime{
    position: absolute;
    right: 0;
    color: #B1AFAF;
}
.zr-info{
    padding:20px 80px;
}
.zr-info .info-list li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor:pointer;
    padding: 7px 33% 5px 22px;
    position: relative;
    background: url(../../img/xiaoxi.png) no-repeat 0;
}
.zr-info ul li .viewTime{
     position: absolute;
     right: 0;
     color: #B1AFAF;
 }
.zr-info  .more-video{
    color: #6B6b6b;
    display: block;
    text-align: right;
    background: url(../../img/gengduo.png) no-repeat right;
    padding-right: 14px;
    margin-bottom: 10px;
    font-size: 14px;
    position: absolute;
    top: -15px;
    text-decoration: none;
    cursor: pointer;
    right: 0;
}
.zr-info .video {
    position: relative;
    padding-top: 10px;
}
.zr-info .video .video-img{
    width:100%;
}
.zr-info .video-play{
    position: absolute;
    width: 70px;
    height:70px;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}
.zr-info .video-title{
    font-size: 16px;
    font-weight: 800;
    margin-top:10px;
}
.zr-info .tool-bar{
    position: absolute;
    right: -55px;
    bottom: 0;
    margin: 0;
}
.zr-info .tool-bar li{
    margin-top:5px;
    cursor: pointer;
}
.zr-info .tool-bar li.qt-code-wrap{
    position: relative;
}
.zr-info .tool-bar li .qt-code{
    display: none;
}
.zr-info .tool-bar li.qt-code-wrap:hover .qt-code {
    position: absolute;
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 10px 0 10px;
    left: -100px;
    top: -70px;
}
.part{
    position: relative;
    padding-left:107px;
}
.part span{
    position: absolute;
    left: 0;
    bottom: -12px;
    border-bottom: 1px solid #EB2635;
    padding-bottom: 10px;
}