.content {
    background-color: #f9f9f9;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.locationNow {
    width: 91%;
    padding-top: 20px;
    margin-bottom: 10px;
}
.locationNow>span {
    color: #4e4e4e;
}
.locationGap {
    margin-right: 8px;
}
* {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Microsoft YaHei';
}
.middle{
    background-color: #f9f9f9;
    width: 92%;
    display: block;
    float: left;
    margin-left: 4%;
    margin-top: 4px;
}
.titleTool{
    background-color: #e92635;
    width: 100%;
    height: 61px;
    padding-top: 20px;
}
.changeSize{
    font-size: 18px;
    font-weight: bold;
}
.titleTool>table{
    width: 100%;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.titleTool>table>tbody>tr{
    height: 26px;
}
.titleTool>table>tbody>tr>td{
    position: relative;
}
.titleTool>table>tbody>tr>td>img{
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    width: 40px;
    margin-left: -20px;
}
#load {
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
    width: 100%;
    background-color: #fff;
}
.infoMainDiv {
    width: 90%;
    margin-top: 43px;
    margin-bottom: 34px;
}
.point{
    margin-top: 8px;
    float: left;
    width: 5px;
    height: 5px;
    background-color: #bbb;
    border-radius: 50%;
}
.massageList{
    cursor: pointer;
    margin-bottom: 10px;
}
.massageList>span {
    margin-left: 8px;
    font-size: 12px;
    color: #4e4e4e;
}
.massageList>span:nth-child(3) {
    float: right;
}
.jingzhiPageChange{
    font-size: 12px;
    color:#4e4e4e;
    margin-bottom: 31px;
    text-align: center;
    width: 100%;
}
.jingzhiPageChange>span:first-child{
    padding-right: 23.5px;
}
.jingzhiPageChange>span:nth-child(8){
    padding-left: 23.5px;
}
.padd15{
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.top-bottom {
    margin-bottom: 30px;
    margin-top: 30px;
}
/*...*/
/*右侧栏*/
.tool-bar{
    position: absolute;
    right: 0;
    bottom: 155px;
    margin: 0;
}
.tool-bar li{
    margin-top:5px;
    cursor: pointer;
}
.tool-bar li.qt-code-wrap{
    position: relative;
}
.tool-bar li .qt-code{
    display: none;
}
.tool-bar li.qt-code-wrap:hover .qt-code {
    position: absolute;
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 10px 0 10px;
    left: -100px;
    top: -70px;
}
/*...*/
.noticeMainLine{
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
}
.noticeImg{
    margin-bottom: 10px;
}
.noticeImg>img{
    margin-top: -4px;
}
.noticeImg>span{
    padding-left: 1%;
    font-size: 18px;
    color:#e92635;
}
.search{
    float: right;
    position: relative;
}
.search>input{
    height: 28px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 12px;
}
.search>img{
    position: absolute;
    right: 4%;
    top: 9px;
}
.info{
    width: 98%;
    margin-top: 36px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 31px;
}
.massageList:last-child{
    margin-bottom: 36px;
}
.titleTool>table>tbody>tr>td{
    width: 50%;
}
.titleTool>table>tbody>tr>td>span{
    cursor: pointer;
}