*{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Microsoft YaHei';
}
/*首尾*/
.top-bottom{
    margin-bottom: 30px;
    margin-top: 30px;
}
/*表格*/
table{
    color: #4e4e4e;
    font-size: 14px;
}
table>tbody>tr{
    height: 38px;
}
.productMainDiv>table{
    width: 100%;
}
/*右侧栏*/
.tool-bar{
    position: absolute;
    right: 0;
    bottom: 102px;
    margin: 0;
}
.tool-bar li{
    margin-top:5px;
    cursor: pointer;
}
.tool-bar li.qt-code-wrap{
    position: relative;
}
.tool-bar li .qt-code{
    display: none;
}
.tool-bar li.qt-code-wrap:hover .qt-code {
    position: absolute;
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 10px 0 10px;
    left: -100px;
    top: -70px;
}
/*...*/
.tableRule>tbody>tr>td{
    height: 40px;!important;
}
.tableBorder{
    width: 100%;
    border: 1px solid #e3e3e3;
    margin-bottom: 25px;
}
.tableBorder>table{
    width: 100%;
}
.tableBorder>table>tbody>tr:nth-child(2){
    background-color: #f9f9f9;
}
#load{
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
    width: 100%;
    background-color: #fff;
}
.content{
    background-color: #f9f9f9;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.locationNow{
    width: 91%;
    padding-top: 20px;
    margin-bottom: 10px;
}
.locationNow>span{
    color: #4e4e4e;
}
.locationGap{
    margin-right: 8px;
}
.fundInfo{
    width: 92%;
    background-color: #fff;
    height: 475px;
    box-shadow: -2px 0px 13px #ddd;
    margin-left: 4%;
    margin-bottom: 22px;
}
.fundInfoTitle{
    padding-top: 24px;
    padding-left: 36px;
}
.fundInfoTitle>span:first-child{
    color: #e92635;
    border-right: 1px solid #e3e3e3;
    padding-right: 15px;
    font-size: 16px;
}
.fundInfoTitle>span:nth-child(2){
    padding-left: 15px;
    font-size: 16px;
    color: #4e4e4e;
}
.chooseDate{
    padding-top: 25px;
    border-bottom: 1px solid #e3e3e3;
    height: 65px;
    width: 53%;
    margin-left: 3%;
}
.chooseDate>span{
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
    font-size: 14px;
}
.chooseDateWidth{
    position: relative;
    float: left;
    width: 13%;
    text-align: center;
    height: 100%;
}
.chooseDateWidth:last-child{
    width: 14%;
}
.chooseDateWidth>.chooseDateStyle{
    width: 100%
}
.chooseDateWidth>.tri{
    display: none;
    position: absolute;
    background-color: #fff;
    left: 50%;
    width: 14px;
    height: 14px;
    border: 1px solid #e3e3e3;
    margin-left: -7px;
    bottom: -7px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    border-bottom: none;
    border-right: none;
}

.chooseDateStyle{

}
.DateStyle{
    border:1px solid #E92635;
    color: #E92635;
}
.lineImg{
    height:385px;
    width: 59%;
    margin-left: 0;
    display: inline-block;
    float:left;
}
.detail{
    position: absolute;
    height: 55px;
    width: 15%;
    background-color: #e92635;
    top: 379px;
    left: 23%;
    padding-top: 5px;
    opacity: 0.8;
}
.detail>span{
    padding-left: 5px;
    font-size: 14px;
    color: #fefefe;
}
.detail>span:nth-child(3){
    font-size: 18px;
}
.fundDetail{
    width: 37%;
    background: url("../../img/bgbuy1.png") no-repeat;
    background-size: 100%;
    float: right;
    margin-right: 3%;
    margin-top: -86px;
    position: relative;
    background-position-y: 116%;
    height: 91%;
}
.fundDetailMain{
    width: 86%;
    margin-left: 7%;
    position: absolute;
}
.pointLine{
    float: left;
}
.pointLine>img{
    margin-left: -7%;
}
.fundDeatilTiele{
    float: left;
    width: 100%;
    padding-top: 6px;
    height: 72px;
}
.fundDeatilTiele>span:first-child{
    font-size: 24px;
    color: #fff;
    line-height: 68px;
}
.fundDeatilTiele>span:nth-child(2){
    font-size: 20px;
    color: #fff;
    display: inline-block;
}
.qiri {
    font-size: 16px;
    color: #fff;
    float: left;
    width: 50%;
    margin-top: 20px;
}
.qiri>p:nth-child(1){
    opacity: 0.6;
}
.qiri>p:nth-child(2){
    font-size: 26px;
    color: #fff;
    opacity: 1;!important;
}
.dq{
    width: 45%;
    float: right;
    text-align: left;
}
.dq>p:first-child{
    opacity: 0.6;
    font-size: 16px;
    color: #fff;
}
.dq>p:nth-child(2){
    font-size: 26px;
    color: #fff;
}
.fundDetailData{
    float: left;
    width: 100%;
}
.fundDetail>span:nth-child(4){
    font-size: 16px;
    opacity: 0.6;
    color: #fff;
    line-height: 57px;
    padding-left: 28%;
}
.fundtype{
    font-size: 14px;
    color: #fff;
    opacity: 0.6;
    line-height: 28px;
}
.fundtypeIn{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding-left: 5%;
}
.upInfo{
    width: 100%;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    float: left;
}
.upInfo>span{
    line-height: 29px;
}
.recen{
    padding-right: 10px;
}
.buyNow{
    background:url("../../img/bgbuy11.png") no-repeat;
    background-size: 100%;
    text-align: center;
    width: 100%;
    border:none;
    opacity: 1;
    height: 68px;
    margin-top: 15px;
    padding-top: 15px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.middle{
    background-color: #f9f9f9;
    width: 92%;
    display: block;
    float: left;
    margin-left: 4%;
    margin-top: 4px;
}
.titleTool{
    background-color: #e92635;
    width: 100%;
    height: 61px;
    padding-top: 20px;
}
.changeSize{
    font-size: 18px;
    font-weight: bold;
}
.titleTool>table{
    width: 100%;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.titleTool>table>tbody>tr{
    height: 26px;
}
.titleTool>table>tbody>tr>td{
    position: relative;
}
.titleTool>table>tbody>tr>td>img{
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    width: 40px;
    margin-left: -20px;
}
.productMainDiv{
    width: 94%;
    margin-top: 22px;
    margin-bottom: 34px;
}
.fundTable{
    margin-bottom: 15px;
}
.tableMain{
    font-weight: bold;
    width: 14%;
    background-color: #f9f9f9;
}
.fundTable>tbody>tr{
    border: 1px solid #e3e3e3;
}
.fundTable>tbody>tr>td{
    height: 57px;
    text-align: left;
    padding-left: 3%;
}
.target{
    width: 100%;
    border: 1px solid #e3e3e3;
    margin-bottom: 15px;
}
.targetTitle{
    width: 100%;
    background-color: #f9f9f9;
    height: 50px;
    color: #e92635;
    font-size: 14px;
    font-weight: bold;
    padding-left: 2%;
    padding-top: 15px;
}
.targetInfo{
    width: 96%;
    background-color: #fff;
    color: #4e4e4e;
    font-size: 12px;
    padding-top: 15px;
    line-height: 20px;
    margin-bottom: 15px;
}
.titleBold{
    font-weight: bold;
    padding-top: 25px;
    line-height: 22px;
}
.titleBold>span{
    font-weight: 400;
}
.tableRule{
    width: 100%;
}
.tableDashed>tbody>tr:first-child{
    border-bottom: 1px dashed #e3e3e3;
}
.tableRule>tbody>tr>td{
    /*width: 20%;*/
    text-align: center;
    height: 36px;
}
.tableRule tr:nth-child(odd) {
    background-color: #f9f9f9;
    height: 29px;
}
.tableRule>tbody>tr:first-child{
    color: #4e4e4e;
    opacity: 0.6;
    height: 44px;
    background-color: #fff;!important;
}
/*基金经理*/
.manageMain{
    width: 90%;
    margin-left: 5%;
}
.fundManage{
    margin-top: 31px;
    margin-bottom: 45px;
}
.manageImg{
    width: 130px;
    height: 170px;
}
.name{
    margin-top: 17px;
    width: 81%;
    float: right;
}
.name>span:first-child{
    font-size: 18px;
    color: #e92635;
    font-weight: bold;
}
.name>span:nth-child(2){
    font-size: 14px;
    color: #4e4e4e;
    font-weight: bold;
    padding-left: 6px;
}
.name>span:nth-child(3){
    font-size: 12px;
    color: #359df5;
    border:1px solid #359df5;
    float: right;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
    line-height: 22px;
}
.study{
    float: right;
}
.manageInfo{
    width: 100%;
    float: right;
    margin-top: 18px;
    line-height: 28px;
}
.managePoint{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e3e3e3;
}
.managePoint>div:first-child{
    color: #e92635;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #e92635;
    float: left;
    height: 40px;
}
.manageintro{
    font-size: 12px;
    color: #4e4e4e;
    margin-top: 20px;
    line-height: 22px;
    margin-bottom: 30px;
}
.manageTable{
    margin-bottom: 30px;
}
.manageTable>table{
    width: 100%;
    margin-top: 14px;
}
.manageTable>table>tbody>tr:nth-child(even) {
    background-color: #f9f9f9;
}
.manageTable>table>tbody>tr:first-child>td{
    font-size: 12px;
    color: #4e4e4e;
    opacity: 0.6;
}
.manageTable>table>tbody>tr{
    text-align: center;
}

.manageTable>table>tbody>tr>td{
    text-align: center;
}
/*基金净值*/
.jingzhiMain>table{
    margin-bottom: 31px;
}
.jingzhiMain>table>tbody>tr>td{
    text-align: center;
}
.jingzhiMain>table>tbody>tr>td>img{
    margin-top: -4px;
}
.jingzhiMain>table>tbody>tr:first-child{
    height: 55px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #4e4e4e;
    font-weight: bold;
}
.jingzhiMain>table>tbody>tr{
    height: 48px;
    border:1px solid #e3e3e3;
}
.jingzhiPageChange{
    font-size: 12px;
    color:#4e4e4e;
    margin-bottom: 31px;
    text-align: center;
    width: 100%;
}
.jingzhiPageChange>span:first-child{
    padding-right: 23.5px;
}
.jingzhiPageChange>span:nth-child(8){
    padding-left: 23.5px;
}
.padd15{
    padding-left: 7.5px;
    padding-right: 7.5px;
}
/*投资组合*/
.investMain{
    border:1px solid #e3e3e3;
    background-color: #f9f9f9;
}
.investSection{
    width: 100%;
    margin-top: 23px;
}
.tableInvest>tbody>tr>td:nth-child(2){
    width: 33%;
}
.tableInvest>tbody>tr>td:nth-child(3){
    width: 31%;
}
.tableInvest>tbody>tr>td:nth-child(4){
    width: 20%;
}

.investTitle{
    padding-top: 13px;
    width: 100%;
    font-size: 16px;
    color: #4e4e4e;
}
.investTitle>span:first-child{
    padding-left: 29px;
    font-weight: 700;
}
.investTitle>span{
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #e3e3e3;
}
.investTitle>span:nth-child(3){
    border-right:none;
}
.investMain>section>.tableRule tr:nth-child(even) td  {
    background-color: #fff;
}
.mana{
    color: #ec222e;
}
.tableRule_invest{
    width: 100%;
}
.tableRule_invest>tbody>tr:first-child {
    border-bottom: 1px dashed #e3e3e3;
    color: #4e4e4e;
    opacity: 0.6;
    height: 44px;
}
.tableRule_invest tr:nth-child(even) td {
    background-color: #fff;
}
.tableRule_invest>tbody>tr:first-child>td{
    background-color: #fff;!important;
}
.tableRule_invest tr>td {
    text-align: center;
    height: 35px;
}
/*基金费率*/
.rareMain{
}
.normalFund{
    margin-bottom: 25px;
    border: 1px solid #e3e3e3;
}
.bg-white{
    background-color: #f9f9f9;
}
.normalFund>tbody>tr>td{
    font-size: 12px;
    text-align: center;
    width: 50%;
    border-bottom: 1px solid #e3e3e3;
    height: 55px;
}
.normalFund>tbody>tr>td{
    border-right:1px solid #e3e3e3;
}
.normalFund>tbody>tr>td:first-child{
    font-size: 14px;
    font-weight: bold;
}
.rareTable{
    border:1px solid #e3e3e3;
}
.rareTable>tbody>tr>td{
    font-size: 12px;
    text-align: center;
    width: 50%;
    border-bottom: 1px solid #e3e3e3;
    height: 55px;
}
.rareTable>tbody>tr>td:first-child{
    font-size: 14px;
    font-weight: bold;
    background-color: #f9f9f9;
}
/*.channelMain>.manageMainDiv{
    width: 93%;
    margin-top: 30px;
}*/
/*销售渠道*/
.openTrade{
    height: 81px;
    width: 100%;
    text-align: right;
    padding-top: 20px;
    color: #e92635;
}
.openTrade>span:first-child{
    padding-right: 12px;
}
.openTrade>span:nth-child(3){
    color: #4e4e4e;
    font-size: 12px;
    float: left;
    line-height: 26px;
}
.rarelist{

}
.rarelist>tbody>tr{
    background-color: #f9f9f9;
}
.rarelist>tbody>tr:first-child>td{
    background-color: #fff;!important;
}
.dxTable{
    width: 100%;
    text-align: center;
    border: 1px solid #e3e3e3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dxTable>tbody>tr{
    color: #4e4e4e;
}
.dxTable tr:nth-child(even) td  {
    background-color: #f9f9f9;
}
.tableChannel>tbody>tr>td:first-child{
    width: 9%;
    text-align: left;
    padding-left: 2.5%;
}
.tableChannel>tbody>tr:first-child{
    border-bottom: 1px dashed #e3e3e3;
}
/*信息披露*/
.massageChooseMain{
    height: 58px;
    width: 100%;
    border: 1px solid #e3e3e3;
    background-color: #f9f9f9;
    margin-top: 22px;
}
.messageChoose{
    width: 28%;
    font-size: 14px;
    color: #4e4e4e;
    float: left;
    padding-top: 15px;
}
.messageChoose>span{
    margin-left: 25px;
}
.messageChoose>select{
    width: 55%;
    border-radius: 5px;
    height: 29px;
    margin-left: 17px;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    box-shadow: none;
    border-color: #ccc;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("../../img/jt.png") no-repeat scroll right center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
}
.messageChoose>input{
    width: 40%;
    border-radius: 4px;
    height: 29px;
    margin-left: 17px;
    box-shadow: none;
    border: 1px solid #ccc;
}
.messageListMain{
    margin-top: 16px;
}
.messageChoose:nth-child(3){
    width: 40%;
}
.messageChoose:nth-child(3)>button{
    width: 22%;
    background-color: #e92635;
    border: none;
    height: 29px;
    border-radius: 4px;
    color: #fff;
    margin-left: 24px;
}
.managePoint>span{
    float: right;
    font-size: 14px;
    color: #4e4e4e;
    line-height: 42px;
}
.point{
    margin-top: 8px;
    float: left;
    width: 5px;
    height: 5px;
    background-color: #bbb;
    border-radius: 50%;
}
.massageList{
    margin-bottom: 10px;
}
.massageList:hover{
    background-color: #f9f9f9;
    cursor: pointer;
}
.messageListMain{
    margin-bottom: 20px;
}
.massageList>span{
    margin-left: 8px;
    font-size: 12px;
    color: #4e4e4e;
}
.massageList>span:nth-child(3){
    float: right;
}
