.banner1{
    height: 290px;
    background: url(../../img/Rwallet.png);
    text-align: center;
    position: relative;
}
.banner1 .ad{
    width: 255px;
    padding-top: 70px;
    margin: auto;
    text-align: left;
    padding-left: 48px;
}
.banner1 .slogan{
   font-size: 32px;
    font-weight: 800;
    color: #fff;
}
.banner1 .slogan2{
    font-size: 20px;
    color: #fff;
    margin-bottom: 25px;
}
.banner1 .tip{
   color: #FFD014
}
.banner1 .rqb{
    position: absolute;
    top: 56px;
    box-shadow: 0 0 5px 3px #AE2C29;
    /* right: 186px; */
    left: 50%;
    margin-left: 200px;
    padding: 20px 10px;
    font-size: 12px;
    color: #fff;
    opacity: 0.9;
    background: #A52927;
}
.banner1 .rqb-text{
    font-size: 20px;
    margin-bottom: 5px;
    letter-spacing: 4px
}
.banner1 .kpi-value{
    color: #FFD014;
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 10px;
}
.banner1 .btn{
    display: inline-block;
    width: 82px;
    background: rgba(225,225,225,0.1);
    opacity: 0.9;
    padding: 5px 0;
    color:#fff;
    border: 1px solid #fff;
}
.ad2,.ad4{
    padding: 35px 0 35px 0;
    background: #F6F6F6;
    color: #000;
    text-align: center;
}
.ad-inner{
    margin: auto;
    width: 740px;
    text-align: left;
}
.ad2 .ad-info,.ad4 .ad-info{
    margin-top: 70px;
    display: inline-block;
    vertical-align: top;
    margin-left: 150px;
    text-align: left;
}

.orange{
    color: #f9854a;
}
.ad3,.ad5{
    padding: 35px 0 35px 0;
    position: relative;
    text-align: center;
}
.ad3 .ad-info,.ad5 .ad-info{
    display: inline-block;
    margin-top: 30px;
    vertical-align: top;
    width: 430px;
    font-weight: 500;
    text-align: left;
    color: #000;
}
.ad5 .ad-info{
    margin-top: 70px;
}
.man-img{
    width:299px;
}
.go-bank-card{
    display: inline-block;
    border: 1px solid #D33C4B;
    padding: 2px 10px;
    border-radius: 10px;
    color: #D33C4B;
    margin: 10px 0 20px 0;
    cursor: pointer;
    text-decoration: none;
}
.ad3 .tip{
    position: absolute;
    font-size: 14px;
    left: 126px;
    transform: scale(0.7);
    top: 317px;
}
.question{
    padding:30px 150px;
    background: #f6f6f6;
    font-size: 12px;
}
.question .title{
    font-size: 16px;
    color: #E92635;
    font-weight: 800;
    padding-bottom:20px;
    border-bottom: 1px solid #ccc;
}
.question .title:before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 22px;
    background: url(../../img/qst.png) no-repeat;
    vertical-align: top;
    margin-right: 5px;
}
.question-inner{
    padding: 30px;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.qst{
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 6px;
    padding-top: 20px;
}
.qst:before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../../img/Q.png) no-repeat;
    vertical-align: top;
    margin-right: 5px;
}
.answer{
    line-height: 20px;
}
.img-text{
    height: 50px;
    margin-bottom: 10px;
}