.content {
    background-color: #f9f9f9;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.locationNow {
    width: 91%;
    padding-top: 20px;
    margin-bottom: 10px;
}
.locationNow>span {
    color: #4e4e4e;
}
.locationGap {
    margin-right: 8px;
}
* {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Microsoft YaHei';
}
.middle{
    background-color: #f9f9f9;
    width: 92%;
    display: block;
    float: left;
    margin-left: 4%;
    margin-top: 4px;
}
.titleTool{
    background-color: #e92635;
    width: 100%;
    height: 61px;
    padding-top: 20px;
}
.changeSize{
    font-size: 18px;
    font-weight: bold;
}
.titleTool>table{
    width: 100%;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.titleTool>table>tbody>tr{
    height: 26px;
}
.titleTool>table>tbody>tr>td{
    position: relative;
}
.titleTool>table>tbody>tr>td>img{
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    width: 40px;
    margin-left: -20px;
}
#load {
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
    width: 100%;
    background-color: #fff;
}
.infoMainDiv {
    width: 94%;
    margin-top: 26px;
    margin-bottom: 31px;
}
.point{
    margin-top: 8px;
    float: left;
    width: 5px;
    height: 5px;
    background-color: #bbb;
    border-radius: 50%;
}
.massageList{
    cursor: pointer;
    margin-bottom: 10px;
}
.massageList>span {
    margin-left: 8px;
    font-size: 12px;
    color: #4e4e4e;
}
.massageList>span:nth-child(3) {
    float: right;
}
.jingzhiPageChange{
    font-size: 12px;
    color:#4e4e4e;
    margin-bottom: 31px;
    text-align: center;
    width: 100%;
}
.jingzhiPageChange>span:first-child{
    padding-right: 23.5px;
}
.jingzhiPageChange>span:nth-child(8){
    padding-left: 23.5px;
}
.padd15{
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.top-bottom {
    margin-bottom: 30px;
    margin-top: 30px;
}
.managePoint{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e3e3e3;
}
.managePoint>div:first-child{
    color: #e92635;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #e92635;
    float: left;
    height: 40px;
}
/*...*/
.serChoose{
    width: 92%;
    margin-left: 4%;
    height: 130px;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: -2px 0px 13px #ddd;
}
.serChooseDe{
    float: left;
    width: 50%;
    border-right: 1px solid #e3e3e3;
    height: 68%;
    margin-top: 26px;
}
.serImg{
    width: 100%;
    float: left;
    height: 40px;
    margin-top: 5px;
}
.serImg>img{
    margin-left: 11%;
    margin-top: -7px;
}
.serImg>span{
    margin-left: 2%;
    font-size: 18px;
    color: #E92635;

}
.serTitle{
    width: 100%;
    float: left;
    height: 40px;
    padding-top: 10px;
    padding-left: 18%;
}
.serTitle>span{
    font-size: 13px;
    color: #bbb;
    padding-left: 3.5%;
    padding-right: 3.5%;
    border-right: 1px solid #e3e3e3;
    cursor: pointer;
}
.serTitle>span:nth-child(4){
    border: none;
}
.serTitle>span:nth-child(9){
    border: none;
}
.serMain{
    margin-top: 40px;
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 31px;
}
.TelSerTitle{
    position: relative;
    width: 33%;
    float: left;
    text-align:center;
    height:100%;
}
.TelSerTitle>span{
    font-weight: 600;
    color: #555;
    font-size: 18px;
}
.TelSerTitle>div{
    font-size: 14px;
    padding-top: 12px;
    line-height: 24px;
    border-right: 1px dashed #e3e3e3;
}
.TelSerTitle:first-child>div{
    font-size: 16px;
    font-weight: 600;
    color: #555;
}
.TelSerTitle:last-child>div{
    border: none;
}
.TelSerTitle>p{
    position: relative;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.TelSerTitle>p:nth-child(2){
   padding-top: 15px;
}
.TelSerTitle>p>img{
    position: absolute;
    right: 0;
}
.TelSerTitle>button{
    border: 1px solid #E92635;
    background-color: #fff;
    color: #E92635;
    font-size: 18px;
    width: 48%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 26%;
}
.line{
    position: absolute;
    right: 0;
    height: 141px;
    width: 1px;
    border: 0.5px dashed #e3e3e3;
    background-color: #fff;
    bottom: 84px;
}
.ts{
    font-size: 13px;
    color: #4e4e4e;
    width: 100%;
    margin-top:20px;
}
.ts>div{
   margin-top: 20px;
}
.ts>div>span:first-child{
    font-size: 15px;
    font-weight: 600;
    color: #555;
}
/*右侧栏*/
.tool-bar{
    position: absolute;
    right: 0;
    bottom: 155px;
    margin: 0;
}
.tool-bar li{
    margin-top:5px;
    cursor: pointer;
}
.tool-bar li.qt-code-wrap{
    position: relative;
}
.tool-bar li .qt-code{
    display: none;
}
.tool-bar li.qt-code-wrap:hover .qt-code {
    position: absolute;
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 10px 0 10px;
    left: -100px;
    top: -70px;
}
/*...*/
.titleTool>table>tbody>tr>td{
    cursor: pointer;
    width: 25%;
}
.ask{
    width: 100%;
    font-size: 13px;
    color: #555;
    margin-bottom:25px;
}
.askLine:first-child{
    margin-top: 20px;
}
.askLine{
    width: 100%;
    margin-top:12px;
    cursor: pointer;
}
.point{
    margin-top: 8px;
    float: left;
    width: 5px;
    height: 5px;
    background-color: #bbb;
    border-radius: 50%;
}
.answer{
    padding-left: 10px;
    padding-top: 1px;
}
.answerDe{
    display: none;
    padding-top: 8px;
    padding-bottom: 8px;
}
.answer>a{
    float: right;
}
.border{
    border-bottom: 1px dashed #e3e3e3;
    margin-bottom: 10px;
    height:30px;
}
.paddR{
    padding-right: 30px;
}