<div class="infoMainDiv">
    <div class="noticeMainLine">
        <div class="managePoint">
            <div>业务申请表格</div>
        </div>
    </div>
    <div class="ask">
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">表决票填写说明<a>下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">授权委托书<a>下载</a></div>
        </div>
        <div class="askLine border">
            <div class="point"></div>
            <div class="answer">基金份额持有人大会表决票<a>下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">直销柜台联系方式<a>下载</a></div>
        </div>
        <div class="askLine border">
            <div class="point"></div>
            <div class="answer">直销账户信息<a>下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">特殊业务申请表<a>下载</a><a class="paddR">样表下载</a></div>
        </div>
        <div class="askLine border">
            <div class="point"></div>
            <div class="answer">中融份额配对转换业务申请书<a>下载</a><a class="paddR">样表下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">风险承受能力调查问卷 - 个人投资者<a>下载</a><a class="paddR">样表下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">投资人权益告知书<a>下载</a><a class="paddR">样表下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">交易业务申请表<a>下载</a><a class="paddR">样表下载</a></div>
        </div>
        <div class="askLine border">
            <div class="point"></div>
            <div class="answer">账户业务申请表<a>下载</a><a class="paddR">样表下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">机构银行账户情况说明模板<a>下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">备案资料说明模板<a>下载</a></div>
        </div>
          <div class="askLine">
            <div class="point"></div>
            <div class="answer">传真交易协议书 ( 机构 )<a>下载</a><a class="paddR">样表下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">印鉴卡( 机构 )<a>下载</a><a class="paddR">样表下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">风险承受能力调查问卷( 机构 )<a>下载</a><a class="paddR">样表下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">业务授权委托书( 机构 )<a>下载</a><a class="paddR">样表下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">投资人权益告知书( 机构 )<a>下载</a><a class="paddR">样表下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">交易业务申请表( 机构 )<a>下载</a><a class="paddR">样表下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">账户业务申请表( 机构 )<a>下载</a><a class="paddR">样表下载</a></div>
        </div>
    </div>
    <div class="noticeMainLine">
        <div class="managePoint">
            <div>工具软件下载</div>
        </div>
    </div>
    <div class="ask">
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">PDF阅读器Adobe Reade<a>下载</a></div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">IE浏览器<a>下载</a></div>
        </div>
    </div>
</div>