<div class="infoMainDiv">
    <div class="noticeMainLine">
        <div class="managePoint">
            <div>交易类</div>
        </div>
    </div>
    <div class="ask">
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">为什么我赎回中融货币的份额会被确认失败?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">认购和申购有什么区别?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">认/申购申请是否可以撤销?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">什么是默认的分红方式?如何修改我的分红方式?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">为什么我在代销机构赎回了我全部中融货币的份额，第二天还会产生剩余的份额？我应该如何全部赎回?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">什么是基金转换?
                <div class="answerDe">投资者在当日交易时间 ( 15:00以前 )提交的申请算作当日申请，以当日收盘后的基金份额净值成交;投资者在当日非交易时间 ( 15:00以后 )提交的申请将算作下一个工作日的申请，冰一下一个工作日的基金份额成交。</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">我今天申购了基金，以什么价格成交?
                <div class="answerDe">投资者在当日交易时间 ( 15:00以前 )提交的申请算作当日申请，以当日收盘后的基金份额净值成交;投资者在当日非交易时间 ( 15:00以后 )提交的申请将算作下一个工作日的申请，冰一下一个工作日的基金份额成交。</div>
            </div>
        </div>
    </div>
    <div class="noticeMainLine">
        <div class="managePoint">
            <div>业务类</div>
        </div>
    </div>
    <div class="ask">
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">什么是专户理财业务?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">特定客户资产管理业务对单一客户有什么要求?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">专户理财和公募基金有什么区别?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">什么是非交易过户?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">非交易过户的强制执行、继承、捐赠具体所指什么?
                <div class="answerDe">你猜</div>
            </div>
        </div>
    </div>
    <div class="noticeMainLine">
        <div class="managePoint">
            <div>服务类</div>
        </div>
    </div>
    <div class="ask">
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">你们的资讯服务包括哪些?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">如何定制/取消中融基金的资讯类业务?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">如何开具我账户的资产证明?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">什么是非交易过户?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">交易后何时可以查询?
                <div class="answerDe">你猜</div>
            </div>
        </div>
    </div>
    <div class="noticeMainLine">
        <div class="managePoint">
            <div>产品类</div>
        </div>
    </div>
    <div class="ask">
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">为什么我提交的申购/赎回申请会成为 "废单" 或申购/赎回不成功?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">交易型货币基金与铍铜基金的异同?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">什么是交易型货币基金 (货币ETF ) ?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">什么是 "T+0回转" 交易?有何意义?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">中融日盈如何套利?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">中融日盈的买卖申赎规则?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">中融货币A类和C类份额有什么区别?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">什么是中融货币基金的自动升级/降级?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">申购中融货币A/C从何时开始计算收益?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">中融增鑫定期债A/C申购费率和赎回费率是多少?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">中融增鑫定期债A/C申购费率和赎回费率是多少?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">中融增鑫定期债A/C如何分红?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">中融增鑫定期债A类和C类份额有什么区别?
                <div class="answerDe">你猜</div>
            </div>
        </div>
        <div class="askLine">
            <div class="point"></div>
            <div class="answer">中融增鑫定期债A/C为什么采用一年定期开放的运作模式?
                <div class="answerDe">你猜</div>
            </div>
        </div>
    </div>
</div>