<div class="infoMainDiv">
    <div class="noticeMainLine">
        <div class="managePoint">
            <div>电话服务</div>
        </div>
    </div>
    <div class="serMain">
        <div class="TelSerTitle">
            <span>客服电话</span>
            <div><i>440-160-6000<br>010-85003210</i></div>
        </div>
        <div class="TelSerTitle">
            <span>人工客服</span>
            <div>周一至周五 9:00 - 17:00<br>(节假日除外)</div>
        </div>
        <div class="TelSerTitle">
            <span>语音服务</span>
            <div>7*24小时自助语音服务</div>
        </div>
    </div>
    <div class="noticeMainLine">
        <div class="managePoint">
            <div>订阅服务</div>
        </div>
    </div>
    <div class="serMain" style="height: 290px;">
        <div class="TelSerTitle">
            <span>短信订阅</span>
            <p><span>账户确认通知</span><img src="../img/service/blueG.png"></p>
            <p><span>交易确认通知</span><img src="../img/service/blueG.png"></p>
            <p><span>持有基金分红通知</span><img src="../img/service/blueG.png"></p>
            <p><span>重要信息通知</span><img src="../img/service/blueG.png"></p>
            <p><span>持有基金周末净值通知</span><img src="../img/service/greyG.png"></p>
            <button type="button">马上定制</button>
            <div class="line"></div>
        </div>
        <div class="TelSerTitle">
            <span>邮件订阅</span>
            <p><span>账户确认通知</span><img src="../img/service/blueG.png"></p>
            <p><span>交易确认通知</span><img src="../img/service/blueG.png"></p>
            <p><span>基金分红通知</span><img src="../img/service/blueG.png"></p>
            <p><span>持有基金周末净值</span><img src="../img/service/blueG.png"></p>
            <p><span>中融电子资讯</span><img src="../img/service/blueG.png"></p>
            <p><span>重要信息通知</span><img src="../img/service/blueG.png"></p>
            <button type="button">马上定制</button>
            <div class="line"></div>
        </div>
        <div class="TelSerTitle">
            <span>账单订阅</span>
            <p><span>电子对账单</span><img src="../img/service/blueG.png"></p>
            <p><span>短信对账单</span><img src="../img/service/blueG.png"></p>
            <p><span>纸质对账单</span><img src="../img/service/greyG.png"></p>
            <p><span>资产证明</span><img src="../img/service/greyG.png"></p>
            <button type="button">马上定制</button>
        </div>
    </div>
    <div class="noticeMainLine">
        <div class="managePoint">
            <div>投诉建议</div>
        </div>
    </div>
    <div class="ts">
        <span>您可通过以下途径，对基金管理人和销售机构所提供的服务进行投诉或提出建议，我们将尽快核实情况，几时答复，不断提高服务质量。</span>
        <div>
            <span>1、客服电话</span><br>
            <span>拨打中融基金客服电话400-160-6000/010-8500-3210，按0转接人工服务后，选择2 "投诉与建议"。</span>
        </div>
        <div>
            <span>2、电子邮件</span><br>
            <span>拨打中融基金客服电话400-160-6000/010-8500-3210，按0转接人工服务后，选择2 "投诉与建议"。</span>
        </div>
        <div>
            <span>3、书信</span><br>
            <span>发送信函至 "北京市东城区建国门内大街28号民生金融中心A座7层 ( 邮编100005 )" ，注明 "投诉与建议"。</span>
        </div>
        <div>
            <span>4、传真</span><br>
            <span>发送传真至010-85003387，注明 "投诉与建议"。<br>此外，您还可以通过代销机构的服务电话对其提供的服务进行投诉或提出建议。</span>
        </div>
    </div>
</div>